[2018-10-16 19:49] raja-s opened #9 "Server initialization with project file"
So [the server currently expects that a project contains the GPR file `gnat/lsp.gpr`](https://github.com/AdaCore/ada_language_server/blob/9d7cee6c95d2899fc8bc216d2b6c57c4ddf0ba46/source/ada/lsp-ada_contexts.adb#L107). Instead, we need to pass the project's GPR file path during initialization. This seems to me like the perfect use of [`InitializeParams`'s `initializationOptions` field](https://micr

[2018-10-16 19:50] raja-s commented on #9
Also, if we do choose to go with `initializationOptions`, we need to document its structure somewhere and update it in case we add additional fields

[2018-10-17 15:35] reznikmm commented on #9
While experimenting I used custom `ada.project_file` workspace configuration option. It's easy to configure it with VSCode capabilities and easy to process with `Workspace_Did_Change_Configuration` handler.

May be it would be better to use this.

[2018-10-24 20:35] raja-s commented on #9
Oh ok, but in that case the client needs to send a `workspace/didChangeConfiguration` notification after the server's response to the client's `initialize` request, and until then the server is kind of in a state where it can't successfully handle requests. Do you think that might be a problem?

What we can do is use both solutions as follows:
- The client includes the above described `AdaInitiali

[2018-10-29 17:43] raja-s commented on #9
Oh, and also we need to be able to send build parameters from the client to the server, so how about this:
[code]

[2018-10-31 17:57] #9 closed

[2018-11-05 21:14] raph-amiard opened #13 "Add/populate READMEs"
It would be good to have more comprehensive READMEs, that at least include getting started phases.

The Readme in the VSCode directory is still the template, and the toplevel README contains almost nothing.

Assigning to you max for a first pass, you can reassign after if you want

[2018-11-08 17:13] raph-amiard opened #23 "Don't try to search for project file for the user"
IMHO the ALS shouldn't try to find the gpr recursively for the user. If there is an error in the user settings it would be better to fail and communicate that to the user somehow.

As discussed in https://github.com/AdaCore/ada_language_server/pull/22_

[2018-12-02 08:33] Alex-Gamper opened #30 "Visual Studio 2017 - Integration"
Hi AdaCore

I've done a quick mock-up of a language server in Visual studio 2017 (NOT to be confused with Visual Studio Code) using the sample / instructions given at https://docs.microsoft.com/en-us/visualstudio/extensibility/adding-an-lsp-extension?view=vs-2017
After some minor tweaks, to-do with project references, and not the actual code itself) this seem to work!

However I've noticed that th

[2018-12-03 15:31] raja-s commented on #30
@Alex-Gamper for reference here's the `initialize` request handler implementation:
https://github.com/AdaCore/ada_language_server/blob/84b6bc3499c9a1e6340a7a96eba5e5239723ce47/source/ada/lsp-ada_handlers.adb#L48-L85

[2018-12-03 15:40] reznikmm commented on #30
The provided instructions contain a setting to enable traces (see "Enabling diagnostics tracing" section).

@Alex-Gamper, could you enable traces and look what's going wrong?

[2018-12-04 08:38] Alex-Gamper commented on #30
I did enable traces, however the only entry I saw was the Initialize_request coming from Visual Studio 2017
and no return response ! I suspect their may be something different between VSCode and VS2017 wrt
the client IDE implementation of the LSP, rather than anything that the Ada_language_server is doing?

Alex

[2018-12-04 14:51] reznikmm commented on #30
Please make sure that all .DLL needed for Ada LSP server are in the PATH.

Another suggestion is to get requests from VS2017 as text file and try to run Ada LSP server from command line with redirected stdin from that file.

On my side I've installed VS2017, but I'm haven't done any LSP integration stuff yet. If you share your code somewhere I can try to compile and reproduce.

[2018-12-05 09:43] Alex-Gamper commented on #30
Hi reznikmm

Apologies for the late reply, time Zones sometimes makes it difficult to respond quickly, Anyway, please note the following

1) Yes all dll's are in my path and I can see the lsp-Ada_driver.exe running while I edit ada documents

2) I'll try this approach when I get a bit more time, I assume you meant doing this under a msys2 bash
shell, as apposed to a windows cmd shell ?

3) I've cr

[2018-12-05 12:45] reznikmm commented on #30
With a little hack in Ada Language Server I've got a trace of VS2017 requests. It seems it doesn't send any notification about file opening. That's why it doesn't work, I guess.

[code]

[2018-12-05 16:37] reznikmm commented on #30
@Alex-Gamper I've found a bug related to URI on Windows. With this fix it works well on just opened files.

You can specify project file in settings like this:
[code]
You can use file name, or file name relative to working directory. It can have URI schema (`file:gnat\\spawn.gpr` or `file:///C:\Path\\gnat\\spawn.gpr`).

Thank you for the integration code!

[2019-02-12 11:35] #30 closed

[2019-02-25 21:21] Entomy opened #59 "Upload to VS Code Marketplace"
As the extension has been created and is usable, how about uploading it to the [VS Code Marketplace](https://marketplace.visualstudio.com/) for easier discovery and use?

[2019-02-26 01:19] setton commented on #59
Hi @Entomy, thanks for the heads-up! Yes, it's definitely something we're planning to do, and will do as soon as we have made progress on a few items first (perhaps implement at least textDocument/typedefinition, textDocument/implementation)... and also testing - we're only getting started with testing on big projects. Pending this, we don't consider this usable quite yet.

[2019-02-26 01:19] #59 closed

[2019-02-26 01:35] Entomy commented on #59
Well that's what the Preview tag is for, but sure. I eagerly await trying it out.

[2019-02-26 14:30] setton commented on #59
Watch this space :)

[2019-04-02 11:12] godunko commented on #23
I agree. ALS should report configuration error on first useful request/notification with detailed information when available. It is user/IDE responsibility to configure ALS properly.

[2019-09-22 15:32] Lucretia opened #202 "Crashes on hovering over anything in the source file"
Move the mouse over the source, in the output pane get:

[code]

[2019-09-22 18:06] Lucretia commented on #202
Ok, installing latest version seems fine.

[2019-09-23 13:49] Lucretia commented on #202
Just started vscode and it happened again, I've not changed anything with the plugin since yesterday.

[2019-10-04 18:18] ProudPenguin opened #207 "Constraint error: Code completion of with clauses"
I am using GNAT Community 2019 (`20190517-83`) on Ubuntu 18.04.3 LTS. I downloaded the files `ada-0.0.1.vsix` and `linux.tar.gz` from [this](https://bintray.com/reznikmm/ada-language-server/ada-language-server/0.1-git#files) page and I installed the extension using the command `code --install-extension ada-0.0.1.vsix`.

I tried to start with this minimal example code:

[code]

After typing `with A

[2019-10-08 08:13] pmderodat commented on #207
Hello @ProudPenguin,

Thank you for reporting this! I can reproduce the crash running Libadalang on the following source:
[code]

We should fix Libadalang not to crash on this.

[2019-10-18 21:42] SolarAquarion opened #217 "Failure of Shared Libraries?"
libadalang.gpr:14:17: shared library project "libadalang" cannot import static library project "gnatcoll_gmp"
libadalang.gpr:14:17: shared library project "libadalang" cannot import static library project "gnatcoll"
libadalang.gpr:14:17: shared library project "libadalang" cannot import static library project "xmlada_dom"
libadalang.gpr:14:17: shared library project "libadalang" cannot import stat

[2019-10-29 15:33] pmderodat commented on #217
Hello,

I assume you get these error messages while trying to compile ALS. It’s helpful in such reports to describe what you have tried, on which platform, and how you installed dependencies (in particular the versions).

My guess here is that you only built/installed the relocatable (shared) library for Libadalang while by default, all dependencies (gnatcoll_gmp, xmlada_dom, …) appear as static l

[2019-10-29 15:33] #217 closed

[2019-10-30 16:10] Lucretia commented on #202
I did that when Maxim asked me to, it seemed fine after I installed it, then when I started vscode again, it started crashing again.

[2019-10-30 17:07] setton commented on #202
Do you have a project / scenario that I can try on my end?

If your last attempt was in September, I would strongly recommend upgrading to today's version - we've made a lot of progress.

[2019-11-02 06:54] TamaHobbit opened #223 "Project file not attempted to be loaded - fails to find any references not in the current file"
ALS seems to work fine within one file. But as soon as I try to jump to a reference in a different file, ALS reports 'LC: Not found'. I am using ALS from NeoVim with [autozimu/LanguageClient-neovim](https://github.com/autozimu/LanguageClient-neovim).

I tried putting the .vim/settings.json next to the project, i.e.:
[code]

I also tried putting it in `~.vim/`. In both cases, I also tried misspelli

[2019-11-02 06:54] TamaHobbit commented on #9
Does this mean we currently need to add a gnat/lsp.gpr file, in order to use ALS? I didn't see any mention in the readme of that, but project files don't seem to load for me. See issue #223

[2019-11-06 15:45] setton commented on #223
Hello @TamaHobbit, could you post the contents of your `.vim/settings.json`?

[2019-11-07 13:15] setton commented on #202
Hi @Lucretia - it looks like it works for me.

I have this simple settings file:
[code]

And it looks to me that the contents of the hover is "as expected" - see this screenshot. Let me know if I've missed something!

<img width="1335" alt="Screenshot 2019-11-07 at 13 12 50" src="https://user-images.githubusercontent.com/96973/68391940-91a1a700-0160-11ea-82b6-ea7d04ee241e.png">

[2019-11-07 13:16] setton commented on #202
(it works from sdl-video-surfaces.ads:59:67 as well)

[2019-11-07 13:31] TamaHobbit commented on #223
I copied it from the README.md, changing only the gpr filename:

[code]

I also tried it with the other settings empty, as I shouldn't need them for my commandline project:

[code]

[2019-11-07 16:31] setton commented on #223
Could you try with ```
"ada.projectFile": "../ageindays.gpr"
[code]

[2019-11-07 17:32] TamaHobbit commented on #223
tried that, and also an absolute path. Misspelling it does not trigger an error, so I don't think it is even searching for it.

[2019-11-08 10:01] raph-amiard commented on #223
Hello Tama,

Do you have log files created in `~/.als/` ? In that case, what are they saying?

Thanks in advance

[2019-11-09 11:49] TamaHobbit commented on #223
The logfile created is completely empty after just doing a failed search for the definition of a function outside the current file.

[2019-11-09 23:53] setton commented on #223
In the `~/.als/` directory, could you create a `traces.cfg` file containing:
[code]
this will activate full logging to the file `~/.als/inout.txt` - let us know what this log contains.

[2019-11-10 14:02] TamaHobbit commented on #223
[code]

What I see is that the rootpath is unexpected; I guess it is taking the git repository's path, which contains several projects. I first tried specifying in .vim/settings.json the path as 'ageindays/ageindays.gpr', so that it is correct from the rootpath - this did not work. Next, I tried just adding an empty directory called '.git' inside the ageindays directory, and reverting settings.jso

[2019-11-10 14:03] #223 closed

[2019-11-10 20:53] Lucretia commented on #202
Don't know what I did, but the problems window just came up with this:

[code]

[2019-11-10 21:05] setton commented on #202
Hmm, looks like we need to fiddle with the switches so that we can symbolize these backtraces - or keep an executable with debug info on the side so we can do that post-mortem... @reznikmm what do you think?

[2019-11-12 11:00] raph-amiard commented on #223
@TamaHobbit good job debugging this! It seems like an extremely brittle way of determining the rootPath ... But I guess that's one of the problems to handle when implementing IDE protocols in regular text editors. Still, we should see if there is a way to signal in a better way to the user that his `.gpr` file was not found.

[2019-11-15 20:22] Entomy opened #227 "procedure declaration snippet outputs invalid Ada"
When tab completing the "Procedure Declaration" snippet, it generates `{7: is abstract}`, which I assume is meant to be an option when completing the snippet, but instead is literally written.

[2019-11-15 20:37] setton commented on #227
Hi @Entomy - thank you for the heads-up! For info, at the moment we haven't spent a lot of time on completion features; we're going to focus on it in the coming year.

[2019-11-15 20:41] Entomy commented on #227
Man I envy you. If I sent food out and the customer said there was something wrong with it, and I told them I'd fix it within the year, I'd loose my job.

[2019-11-15 20:45] Entomy commented on #227
I looked for a snippets file and I'm not seeing it. I'm not sure how you implemented the feature, but based on the incorrect syntax that was written, whatever you are doing seems to work the same way. You're going to want something like this:

[code]

I don't have access to anything to test this at the moment, but the `${x|_,_,_|} pattern is what you'd be interested in. It seems like the entry was

[2019-11-15 20:51] Entomy opened #228 "Incorrect/incomplete highlighting of package names"
![image](https://user-images.githubusercontent.com/25399505/68974810-9a792500-07bf-11ea-8950-b3d08f44ff22.png)

I'm not sure what the intent was here. If the intent was to provide highlighting to all package names, then it doesn't work for the list-like include statements. Furthermore it seems to think the package name is actually a function, which makes me think the intent might not have been to

[2019-11-15 20:53] Entomy commented on #228
![image](https://user-images.githubusercontent.com/25399505/68974948-f348bd80-07bf-11ea-89f7-4c2b8d575d34.png)

I thought it might be only highlighting the first entry but it seems it's not, that it's only highlighting very specific package names.

[2019-11-15 20:54] Entomy opened #229 "Inconsistent type highlighting"
![image](https://user-images.githubusercontent.com/25399505/68975023-27bc7980-07c0-11ea-9912-bc8a9c6716bd.png)

As you can see, only certain types are highlighted at all, which makes quick visual scans misleading.

[2019-11-15 20:58] Entomy opened #230 "Missing classification of elseif as keyword"
![image](https://user-images.githubusercontent.com/25399505/68975218-ac0efc80-07c0-11ea-9492-eb6d3656d668.png)

`elseif` seems to have been forgotten about when defining keywords

[2019-11-15 21:01] Entomy opened #231 "Possible misclassification of certain keywords?"
![image](https://user-images.githubusercontent.com/25399505/68975278-d496f680-07c0-11ea-8f75-0e0db238aba0.png)

It seems like you've gone for a split classification approach of keywords, so that certain keywords are classified and highlighted as operators, some as regular keywords, and some as control keywords. I appreciate this because it allows certain themes to specifically highlight certain cl

[2019-11-15 21:03] Entomy opened #232 "No classification of operators or assignment"
![image](https://user-images.githubusercontent.com/25399505/68975489-63a40e80-07c1-11ea-9db2-254dad353610.png)

Operators and the assignment symbol seem to be lacking classification as operators

[2019-11-15 21:05] Entomy opened #233 "Something seems to think Standard is a child of both Ada and Standard"
![image](https://user-images.githubusercontent.com/25399505/68975569-964e0700-07c1-11ea-983e-862f27b7d642.png)

I don't know how else to explain what I'm seeing here, but something in this extension reports `Standard` as being a child package for both `Ada` and `Standard`.

[2019-11-15 21:08] Entomy opened #234 "Intellisense reporting everything in scope"
Rather than reporting what would be a valid completion for the given context, intellisense seems to be reporting everything known within the current scope, without any contextual discrimination.

![image](https://user-images.githubusercontent.com/25399505/68975734-0bb9d780-07c2-11ea-9304-5ce9ddda4855.png)

And no matter the leading context.

![image](https://user-images.githubusercontent.com/25399

[2019-11-15 21:13] setton commented on #230
`elseif` is not an Ada keyword -`elsif` is :-)

[2019-11-15 21:14] Entomy commented on #230
You are correct! I mistyped. And it seems `elsif` is correctly recognized so this isn't an issue.

[2019-11-15 21:14] #230 closed

[2019-11-15 21:16] setton commented on #227
Sir, this is not a Wendy's :-)

[2019-11-15 21:18] setton commented on #227
Thank you for this! I don't have knowledge of the syntax that's needed here, I think you're more of an expert than anyone working on this part of the code at the moment... if you would like to join forces and contribute, that would be great!

[2019-11-15 21:21] setton commented on #232
Indeed!

(Should the assignment symbol be highlighted as an operator? What do other languages do?)

[2019-11-15 21:26] setton commented on #231
Right, perhaps `return` should be a `keyword.control.ada` - `if`, `then`, `else`, `loop`, `for`, etc as well. @reznikmm do you have input for this?

[2019-11-15 21:30] Entomy commented on #232
Seems like the majority of languages (at least major ones I looked at) do `keyword.operator.assignment`. I suspect so that themes which discriminate assignments theming can do so.

[2019-11-15 21:32] Entomy commented on #227
I do fine dining :-)

[2019-11-15 21:36] Entomy commented on #227
With the way your company has repeatedly treated me in the past, that will never happen.

I do this only because I know there are some who prefer your extension over my own because despite mine offering far better syntax highlighting, yours does have at least some level of functional LSP. At the end of the day, it's my desire to provide the best tooling for people as I can muster, even if that mea

[2019-11-15 22:21] Entomy opened #235 "Incorrect classification for the types that are classified"
I checked with Macromates documentation, since that's where the TextMate conventions were originally defined, and are ultimately what VS Code adheres to.

![image](https://user-images.githubusercontent.com/25399505/68979472-a79c1100-07cb-11ea-8a9f-c897696bfc60.png)

However the standard types are classified as `support.type`

![image](https://user-images.githubusercontent.com/25399505/68979527-c99

[2019-11-15 22:39] Entomy opened #236 "No support for numerical bases, supradecimal notation, nor e-notation"
![image](https://user-images.githubusercontent.com/25399505/68979895-d8c91100-07cc-11ea-88c5-20fc239fbbe6.png)

As you can see, the base specifiers aren't being highlighted, and I suspect the only reason why the base is highlighted at all is it's recognized as a discrete and unique number.

For what it recognizes of one of the parts of a number, `52_` it's not marking this as invalid, despite it b

[2019-11-18 10:06] raph-amiard commented on #234
Hi @Entomy, thanks for the report (s).

Indeed, code completion is very alpha for the moment. The implementation is a crude one and hasn't been refined yet, it is on our roadmap for the following releases.

The problem you're reporting is due to the fact (I think) that scopes will be explored recursively, without taking into account whether it should happen or not:

- When you're completing at the

[2019-11-18 14:05] raph-amiard commented on #234
@Entomy I actually cannot reproduce this, do you think you could provide a reproducer? That would greatly speed up the investigations. Thanks in advance.

[2019-11-18 14:08] Entomy commented on #234
I just installed the extension and loading up my [letscode-cards](https://github.com/Entomy/letscode-cards) repo so I had some code to test out. Then it was just a matter of trying things out. In certain places it seemed to work reasonably, but most places you get what I showed before. I couldn't determine any particular pattern to this. That's all I got.

[2019-11-19 09:25] Naasha opened #239 "VSCode extension error: couldn't start client Ada Language Server"
Hello, i'm trying to use the Visual Studio Code extension (installed using the provided .vsix file) but when i start VSCode i always get the following error "couldn't start client Ada Language Server" with the following output console:
`[Error - 10:11:08] Starting client failed
Error: spawn UNKNOWN
	at ChildProcess.spawn (internal/child_process.js:394:11)
	at Object.spawn (child_process.js:548:9)

[2019-11-19 09:57] raph-amiard commented on #234
OK thanks @Entomy, I found one case where it happens, which is when I start insertion in the middle of an identifier, like this:

[code]

in that case, the ada language server will fail to detect that it is completing in the context of a `DottedName`, and will complete everything.

Hopefully that's the case you're stumbling upon. I have a fix in the pipes, that I will push so you'll be able to tel

[2019-11-19 10:29] reznikmm commented on #239
Hello!
Can you run the server from Windows CMD console like this:
[code]

[2019-11-19 10:33] Naasha commented on #239
Thanks for the fast reply !
Indeed i can't run it because of the system admin restriction on my computer.
Now that i understand the problem i'll search a way to move my vscode extension to a folder that i can execute ^^

Sorry for the inconvenience.

[2019-11-19 10:33] #239 closed

[2019-11-19 14:23] Entomy commented on #234
These might have similar root causes since it's the same presentation, however in my case, as you can see in the screenshots I provided, this was happening immediately after the `.`, before the identifier.

[2019-11-21 17:30] reznikmm commented on #236
You are right, for now regexp is too simple: `([0-9][0-9_]*(\.[0-9][0-9_]*)?)`.
Feel free to contribute :wink:

[2019-11-21 17:34] Entomy commented on #236
This are real quick and might have some minor issues.

Decimal Literal
[code]

Based Literal
[code]

[2019-11-21 17:37] Entomy commented on #236
This does assume `[eE](\+|\-)?` is part of the number, and isn't classified as an operator instead. If operator classification is desired instead, the easiest way to do this through the tmLanguage engine is to capture both of the numeric sections and classify those individually. As I can't find any tmLanguage files (maybe I'm missing them but this is thrice now I've looked) I'm not sure how you're

[2019-11-21 20:15] reznikmm commented on #227
@Entomy thank you for the efforts! I've never seen `${x|_,_,_|}` pattern before.

If you have any other idea how to improve the extension, don't hesitate.

[2019-11-21 20:18] Entomy commented on #227
https://code.visualstudio.com/docs/editor/userdefinedsnippets#_choice

[2019-11-21 20:20] reznikmm commented on #228
This regexp left in the configuration file when I played with highlighting to see how it works. I should replace it with something more useful.
[code]

[2019-11-25 16:34] #235 closed

[2019-11-25 16:34] #236 closed

[2019-11-25 16:35] #227 closed

[2019-11-25 16:35] #232 closed

[2019-11-25 16:36] #228 closed

[2019-11-25 16:36] #231 closed

[2019-11-26 13:34] pmderodat commented on #207
Hello again,

Sorry for getting back to you that late. This bug has been fixed for several weeks, now, so you should not get a crash anymore on this with recent builds.

[2019-11-26 13:34] #207 closed

[2020-01-21 03:54] Entomy opened #309 "Proposal for Collaboration"
This is not something I have come to easily. However, it is something I beleive to overall be in the best interest for the community, and each other.

Let's cover hard facts and intended outcome first, and then my intentions after.

At the time this extension was formally announced and uploaded to the marketplace, there were already four Ada extensions in existence, at least that I'm aware of. Two

[2020-01-23 23:47] MichaelAllenHardeman opened #314 "Possible Feature - Settings for gnat compiler path?"
Do you think adding a setting [hereish?](https://github.com/AdaCore/ada_language_server/blob/19c1dfec9b697ed48b402abdd6d11c51642e009d/source/ada/lsp-ada_handlers.adb#L1839) for the adainclude folder path might be a good idea?

for example mine is in:
`$GNAT_ROOT/lib/gcc/x86_64-pc-mingw32/7.3.1/adainclude`

This should allow the server to index all these files and give autocomplete, hover documenta

[2020-01-23 23:55] MichaelAllenHardeman commented on #314
It seems like the hover documentation seems to function already, and some of the standard library packages do auto complete

![image](https://user-images.githubusercontent.com/2830043/73034000-b299a000-3e11-11ea-81e5-9163d75199bd.png)

but it's kind of limited?

![image](https://user-images.githubusercontent.com/2830043/73033862-50409f80-3e11-11ea-8732-934c1e1c15ae.png)

[2020-01-24 00:06] MichaelAllenHardeman commented on #314
It does seem to auto complete, but I have to get like 80% or so into typing the package name before it completes.

![image](https://user-images.githubusercontent.com/2830043/73034584-56d01680-3e13-11ea-99ed-800adb352548.png)

[2020-01-24 00:36] MichaelAllenHardeman commented on #314
I'll try and examine how exactly the server works before I try and make an improvement.

[2020-01-24 00:36] #314 closed

[2020-01-28 13:23] reznikmm commented on #309
Hi @Entomy
I'm glad that you proposed this collaboration. Frankly speaking, I was going to ask you to contribute your highlighter to our extension. Don't hesitate to use the Ada Language server in your extension, if you want.

[2020-01-29 08:55] jakalx opened #316 ""Dereferencing a null access" results in empty responses"
Environment:
* version: `21.0.4-dbg`
* OS: `Windows 7`
* gnat version: `GNAT Pro 7.3.1 (20150118-49)
* editor: `Emacs 26.3`

traces.cfg contains: `ALS.*=yes > inout.txt:buffer_size=0`

inout.txt contains (redacted):

[code]

I could not reproduce the error using a smaller example and I'm not allowed to share code.

[2020-01-29 10:12] setton commented on #316
Hi @jakalx, this exception indicates that Libadalang encountered an internal error when attempting to resolve the declaration of an identifier - unfortunately, for this kind of error, we're really unable to fix until we see the code...

(I notice you're using `GNAT Pro 7.3.1` - if you're an AdaCore customer, don't hesitate to open a ticket to the support system and send code under NDA there. We're

[2020-01-31 14:54] Entomy commented on #309
As I see it, there's two things that would have to be decided. One of these seems to effect the other and I'll explain when and how that's the case. If you or your team thinks of any addition factors please chime in; I'm not omniscient.

# Project management

This seems to be the critical issue, as the other seemingly depends on it, or is at least effected by it.

The most obvious solution is to l

[2020-02-04 20:21] c-grant opened #326 "Incorrect highlighting with number in identifier"
The syntax highlighting is highlighting number inside identifiers as a different color.

![image](https://user-images.githubusercontent.com/60671494/73783552-e2c23680-4761-11ea-939a-7c804289cbf9.png)

[2020-02-04 20:34] c-grant commented on #202
I get a similar message when hovering over a package of a user defined type

[c:\Users\<redacted>\.vscode\extensions\maximreznik.ada-21.0.4\win32\libgnat-2019\libgnat-2019.dll]
0x6a7f3386
[c:\Users\<redacted>\.vscode\extensions\maximreznik.ada-21.0.4\win32\libadalang\libadalang.dll]
0x20bd6d5
[c:\Users\<redacted>\.vscode\extensions\maximreznik.ada-21.0.4\win32\libadalang\libadalang.dll]
0x20cb473

[2020-02-05 13:27] reznikmm commented on #309
One requirement that we have is that AdaCore needs to maintain ownership of one extension, and be able to publish updates at our own pace.

I would prefer if you sent pull requests related to the syntax highlighter to this repo, so this extension will include your highlighter. I contribute here with pull requests too. I don’t have write access (besides creating a branch or a tag). It’s fine for me

[2020-02-05 16:31] reznikmm commented on #202
@Lucretia Could you try to replace ALS with debug version [from here](https://bintray.com/reznikmm/ada-language-server/download_file?file_path=linux-21.0.4-dbg.tar.gz)
to get symbolic traceback?

[2020-02-05 16:32] reznikmm commented on #202
@c-grant Can you provide a reproducer? (like source of the package and positon of the cursor)

[2020-02-05 17:14] Lucretia commented on #202
[code]

[2020-02-05 18:16] #326 closed

[2020-02-05 18:17] reznikmm commented on #326
@c-grant thank you for the report. This is fixed now and we will publish newer extension version shortly.

[2020-02-05 18:42] c-grant commented on #202
Attached are a representative set of file that make it happen.
[test.zip](https://github.com/AdaCore/ada_language_server/files/4161404/test.zip)

To make it happen hover over "Test" on line 9 of test2.ads

[2020-02-05 18:52] setton commented on #202
I can reproduce, thank you for the reproducer!

[2020-02-12 11:01] reznikmm commented on #202
@c-grant This has been fixed now. I've just published vscode extension 21.0.5 with the fix.

Feel free to report any other issues.

[2020-02-12 14:37] Lucretia commented on #202
Just upgraded.

[2020-02-13 16:20] #309 closed

[2020-02-13 16:59] Entomy opened #334 "Add .editorconfig"
You guys use unique styling conventions. By adding an [`.editorconfig`](https://editorconfig.org/) file all supporting editors will automatically use the appropriate project style conventions, which reduces contributor and reviewer friction. Supporting editors include [VS Code](https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig), [Emacs](https://melpa.org/#/editorconfig)

[2020-02-13 17:00] setton commented on #334
I'm in favour.

[2020-02-13 18:14] #334 closed

[2020-02-14 10:30] Flurb opened #339 "Go To Definition/Declaration/Type Definition not usable for .a files"
It seems only .ads/.adb files are supported for the Go To Definition functionality.
.a files are not supported, but could be interpreted the same.

[2020-02-14 14:24] Entomy commented on #339
The only other use of `.a` as an extension I'm aware of, involves binary compiler output. It should be possible to add this extension without conflict with others.

[2020-02-15 12:07] Entomy commented on #229
This was closed by #333

[2020-02-15 12:07] #229 closed

[2020-03-02 12:02] Entomy opened #354 "Implement problem matcher"
VS Code has a method for integrating analyzer output with the text editors gutter, through the [problem matcher](https://code.visualstudio.com/Docs/editor/tasks#_defining-a-problem-matcher) API. This would allow the errors and warnings that `gnatmake` produces to be put directly into the editor in the files and on the lines that is being reported.

It seems like, despite the official docs only men

[2020-03-02 13:21] setton commented on #354
The regexp that we use in GNAT Studio for GNAT messages is:
`^([^:]:?[^:]*):(\d+):((\d+):)? (((medium )?warning|medium:)?(info|Note|check)?(\(style|low:|low warning:)?.*)`
I guess this should give a good first approximation. Not sure whether we can use the VScode API to do exactly what we would want, which is to mark "warnings" with the medium severity, "info", "style", with the low severity, and

[2020-03-02 15:11] reznikmm commented on #354
we already has this in `package.json`:

[code]

We added this in #224. I supposed it works.

[2020-03-02 15:22] Entomy commented on #354
Oh jeez. I never noticed. Oops! Alright I'll close this.

[2020-03-02 15:22] #354 closed

[2020-03-13 09:27] reznikmm opened #366 "Move Vscode extension to another marketplace account"
We are going to move ALS extension to our new [corporative Marketplace account](https://marketplace.visualstudio.com/publishers/AdaCore).

This issue is to make this more visible to the community.

The plan is

1. Commit depreciation warnings in the `master` branch
2. Issue new version in under old personal account
3. Remove depreciation warnings from the `master` branch and fix marketplace token

[2020-03-23 10:03] david-tamar opened #381 "Integration with QtCreator"
Has anyone tried ALS on QtCreator's LSP client? I showed QtCreator where's `ada_language_server` but apparently nothing happens. Do I need to add .gpr files in order to make ALS work? I have a basic .adb file with a .pro file I made specifically for this tiny project.

[2020-03-23 11:47] Entomy commented on #381
I didn't even know QtCreator added in an LSP client. Neat.

When you launch QtC from the terminal and attempt this, are there any logged messages, or nothing at all?

[2020-03-23 12:47] david-tamar commented on #381
Yep. LSP was introduced in version 4.8. Creator is quite amazing and snappy. I prefer Qt over Electron so I thought I should at least try, although I never used Creator before.

I see these messages:
[code]

This is Debian Sid with: Creator v4.11.0, GNAT v9.3.0,  gprbuild 2019, libc6 v2.30, GCC v9.3.0, v8.4.0, and v4:9.2.1, and the recent build-essentials from Debian. Am I missing anything? I don'

[2020-03-23 15:34] Entomy commented on #381
I've been having this happen a lot as well, with vs code. It's not a client issue, it's a server issue. I don't know enough about the internals to guess why. One of the AdaCore guys needs to get this one.

[2020-03-30 13:33] #366 closed

[2020-04-01 20:05] Entomy opened #386 "Set up VS Code automated testing"
Perhaps it's time for us to look into setting up VS Code automated testing - the code is becoming too important to be tested manually. Don't hesitate to send pointers if you happen to have experience with this.

_Originally posted by @setton in https://github.com/AdaCore/ada_language_server/pull/377#issuecomment-606966176_

[2020-04-01 20:05] Entomy commented on #386
Can someone add `help wanted` to this? There's resources people use to search for that specific label.

[2020-04-01 20:09] setton commented on #386
Done.

For the record, https://github.com/redhat-developer/vscode-extension-tester this looks promising.

[2020-04-07 22:25] Entomy commented on #381
@david-tamar would you try this again, as described in the new changes to the README?

[2020-04-08 04:30] david-tamar commented on #381
@Entomy, I want to try it again; however, I'm not sure whether or not a .gpr file is needed for ALS to work properly. I also don't know how to generate .gpr files in the command line. I tried to approach the official AdaCore documentation on the GPR build system, but it's huge, and the Debian manpage is merely a short introduction. I've figured out how to generate a .cgpr file via `gprconfig`, but

[2020-04-08 16:42] Entomy commented on #381
![image](https://user-images.githubusercontent.com/25399505/78809752-60d6cf80-7995-11ea-8fbf-c0c53cd7ea9c.png)

As you can see, there's no GPR, so it's not required.

Yes, gpr config files are separate from gpr project files.

Not sure about CMake, never used it for anything; never needed to. As for GPR alternatives, depending on your scenario, gnatmake may be enough. Seen quite a few people use G

[2020-04-09 15:09] reznikmm commented on #381
@david-tamar The simplest way is to put all your Ada files in the QtCreator project (root) directory. This way you don't need a GPR project file (ALS will create a trivial project file for you). This is how it works on the picture above in previous post.

But I recommend you to create a simple GPR like `default.gpr`:
[code]
* `source` - is directory with Ada files
* `main.adb` - a main file for yo

[2020-04-09 15:09] #381 closed

[2020-04-21 13:41] raph-amiard opened #412 "Highlighting of nested declarations is failing"
See attached screenshot

![failure](https://user-images.githubusercontent.com/478727/79872727-706b0500-83e6-11ea-9d6e-49a9fd69e0e8.png)

with this following snippet of code

[code]

[2020-04-21 13:46] AnthonyLeonardoGracio commented on #412
@Entomy I suppose that it's related to your recent syntax highlighting patches no?

[2020-04-21 17:38] Entomy commented on #412
Yeah it would be. I can have a look at it tomorrow, as I'm busy for the rest of today.

[2020-04-21 18:02] Entomy commented on #412
I checked the file over. `basic_declaration` should include `package_specification` before `subprogram_specification`.

If someone wants to do it before I can, that should do it.

[2020-04-21 19:48] gcluzel commented on #412
Ok, I've corrected that as I'm doing some patches. Can someone tell me if a procedure body is allowed in a package spec? GCC rejects this program, and the Ada RM too.
[code]

[2020-04-22 08:30] raph-amiard commented on #412
It's illegal indeed. The correct form would be:

[code]

However, and I cannot emphasize that enough: *We don't want to highlight only correct programs*. In light of that, having such a rigid set of rules doesn't seem like a good idea, unless you can fallback on simple keyword highlighting in everycase.

[2020-04-22 08:34] raph-amiard commented on #412
FWIW it also wildly fails on highlighting string literals:

![failure2](https://user-images.githubusercontent.com/478727/79959791-d4dca180-8484-11ea-9719-6ff9862a15bf.png)

[2020-04-22 09:18] gcluzel commented on #412
What I have done so far is adding procedure calls and resolving bugs that I found in highlighting package body and so on.
![image](https://user-images.githubusercontent.com/34268335/79963845-318e8b00-848a-11ea-9589-a83486ebf4b6.png)
I think that it should do what you want.

[2020-04-22 09:19] raph-amiard commented on #412
Thanks, it's looking good indeed :) I guess that the fact that quotes are
not highlighted similar as the rest of the string is voluntary then ?

Le mer. 22 avr. 2020 à 11:18, gcluzel <notifications@github.com> a écrit :

[2020-04-22 09:25] gcluzel commented on #412
@raph-amiard The quotes are marked as a punctuation character. It's voluntary, and it's what is done in other languages too. But asking @Entomy about that is probably the best.

[2020-04-22 11:20] Entomy commented on #412
@raph-amiard is correct in that a classifier should not be handling exclusively valid syntax. It should handle _all_ syntax. A fallback mechanism is easily possible by adding the entire keyword list at the very end of the top level includes. I'm holding off on doing this because the moment you add this, it becomes very difficult to see which valid constructs aren't being highlighted. There are cer

[2020-04-22 11:29] Entomy commented on #412
@gcluzel the quotes aren't marked as `punctuation.ada` but rather, it's own specific quote classification that other languages also use. You are very correct on that last part. @raph-amiard whether that is highlighted differently and how depends on the theme, not the classifier. Some themes highlight it the same, other themes differently. But that's a theming, not classification, decision.

[2020-04-22 17:14] Entomy commented on #412
Since I have a computer I can take a screenshot on now, here's an example of a theme (the default dark theme Dark+), which uses the same styling for an entire string.

![image](https://user-images.githubusercontent.com/25399505/80011936-8df9a680-849a-11ea-84a3-931c85b40dad.png)

@gcluzel I owe you a bit of an apology. Haven't looked at the classification in so long I forgot it was a subclass of pu

[2020-04-23 13:56] raph-amiard commented on #412
@Entomy

Ok I understand. I'll give this a whirl sometime soon, and report other similar issues that I find then.

Ok!

[2020-04-27 15:15] #386 closed

[2020-04-28 18:41] setton commented on #412
The engine is capable of giving a visual cue that a procedure body doesn't belong in a package spec:

![nesting](https://user-images.githubusercontent.com/96973/80524660-fa264f80-895d-11ea-894b-0cb559743478.png)

This is quite neat! Now we need to add support for "is null;" procedures and for expression functions.

In the meantime, closing this.

[2020-04-28 18:41] #412 closed

[2020-04-28 21:23] abdurham2 opened #431 "Procedure separates usage not found by reference search"
Procedure reference searches, when the procedure is declared as a separate, are only returning the .adb and .ads file where the procedure is declared.  Implementation searches, in this same case, only return the .adb file where the procedure is declared, and the .adb file where the procedure is implemented.  Neither reference search returns uses of the procedure in other files.  Function separates

[2020-04-29 09:46] reznikmm commented on #431
@abdurham2 Thank you for the issue. Could you provide some example?

[2020-04-29 13:17] raph-amiard opened #436 "More highlighting issues"
![hl_problem_1](https://user-images.githubusercontent.com/478727/80600072-29a38d80-8a2c-11ea-9d69-436f97f12022.png)
![hl_problem_2](https://user-images.githubusercontent.com/478727/80600074-2a3c2400-8a2c-11ea-9385-cf183a40d3de.png)
![hl_problem_3](https://user-images.githubusercontent.com/478727/80600078-2ad4ba80-8a2c-11ea-9225-af1bcc85c239.png)
![hl_problem_4](https://user-images.githubuserconten

[2020-04-29 13:44] Entomy commented on #436
@gcluzel since you've been contributing as well I'd like you to weight in.

There's a few ways we can approach this, which I will cover. To address the last statement, @setton has been adding classifier testing which I will also be contributing to when I can, so that is already being worked on. Unfortunantly unit testing for extensions was an afterthought for VS Code, so we've been operating witho

[2020-04-29 13:48] Entomy commented on #436
As for the specific issues shown here:

1) Use directives needs to be allowed within an additional group, declarative item iirc. Subroutine calls should be allowed within expression as well.

2) Same as 1. Comment might be an issue but I'm unfamiliar with the theme.

3) With if statements, it grabs the entire block first, then breaks it up into sections based on the then-else or then-end spans, th

[2020-04-29 14:28] setton commented on #436
I think the first thing we need to do is reach a state where the highlighting is reasonably good - even if it's less sophisticated - for users, while we evaluate our options. To do this without putting undue pressure on ourselves to fix the sophisticated engine, I propose to do the following:

 * Right now: we move the current `ada.tmLanguage.json` to a separate directory, for instance "full_class

[2020-04-29 14:38] abdurham2 commented on #431
I have a very complex workspace with linked projects, and through some trial and error, I thought that this was the reason behind not finding the procedure usage.  After trying to create a sample project that I could share, I was unable to recreate the issue with a simple project structure.  I think I will need to take some time to experiment and create a sample project that can demonstrate the is

[2020-04-29 14:38] #431 closed

[2020-04-29 14:40] raph-amiard commented on #436
I agree that's the issue to figure out @Entomy. Could you maybe propose a patch for the fallback, and @setton can figure out the git workflow and explain it ?

[2020-04-29 15:33] Entomy commented on #436
I'll save the current work and put it somewhere. A branch or something. And put back a shotgun classifier in its place, like before. From there, we can focus on the test suite, instead of the classifier, and keep an eye on both the LSP implementation and protocol API capabilities to determine how and when to migrate. Luckily this migration can be gradual, as the two can coexist.

I'll have a PR re

[2020-04-29 15:34] Entomy commented on #431
I wonder if its occuring at the linked project boundary then.

[2020-04-29 15:49] setton commented on #436
Sounds good - thanks everyone for the feedback! I'll take care of the PR.

What I'll do is move the work in a separate directory rather than a branch. Not a very strong opinion but my arguments for preferring this approach are:
  - this makes it possible to have an automated test for both the "sophisticated" and the "shotgun" classifiers if we want.
  - doing ad-hoc merges and tests, or switching

[2020-05-04 10:26] gcluzel opened #440 "Completion of procedure calls"
When I use Intellisense to complete the name of a procedure in my code, all the arguments are added on the line. Maybe a screenshot can help to understand:
![image](https://user-images.githubusercontent.com/34268335/80956252-224ffb80-8e01-11ea-9527-650e43ec0314.png)
I think it would be better to only complete the name of the function without the parameters and open a help pop-up like it's done in

[2020-05-04 13:04] raph-amiard commented on #440
Hello Guillaume,

The reason it is done this way is two-folds:

1. It is the supported way of doing parameter completion with the LSP, with specific requests provided for this use case. The way the python extension does it is *not* supported, and they very likely use VS Code specific APIs to show the pop up. Given our focus on doing as generic an engine as possible, especially where other IDEs tha

[2020-05-04 13:29] gcluzel commented on #440
Thank you @raph-amiard for your response. I asked without really documented myself of the internal mechanisms, then I didn't really know if it was feasible or not.

Could you at least consider to add a basic solution where Intellisense only completes the name of the procedure without its arguments?
It would especially be useful when I close a subprogram body, to not have a situation like the follo

[2020-05-04 13:41] AnthonyLeonardoGracio commented on #440
This clearly should not happen, I'll have a look on that.

On the issue's original topic, note that language servers for languages that support function overloading like Ada (C++, Java) do the exact same thing (see the attached screenshot: it's with Microsoft Java's Extension pack).

<img width="682" alt="Capture d’écran 2020-05-04 à 15 36 47" src="https://user-images.githubusercontent.com/52864

[2020-05-04 14:03] gcluzel commented on #440
If it is what is done in Java, it's probably because it's the best solution!
Thank you everyone for your responses!

[2020-05-04 14:22] AnthonyLeonardoGracio commented on #440
And thank you for bringing this topic ;) I will fix the bug on the end labels for now.

[2020-05-06 14:59] #440 closed

[2020-05-27 09:16] reznikmm commented on #339
Ada Language Server supports custom file extensions for Ada sources only if they are defined in the project file. See [Naming Schemes](https://docs.adacore.com/gprbuild-docs/html/gprbuild_ug/gnat_project_manager.html#naming-schemes) in the documentation.

My advice:

1. Create a project file and define desired naming scheme in the Naming package of your project file.
2. Provide the project file to

[2020-05-27 09:16] #339 closed

[2020-06-01 15:11] alincolesa opened #453 "Constraint error"
Hello,
The error I'm facing when I'm trying to edit some large files:

Environment:
 - version: 21.0.12-dbg
 - OS: Debian GNU/Linux 10 (buster)
 - gnat version: GNAT Community 2019 (20190517-83)
 - editor: VS Code 1.45.1

For the moment I cannot reproduce the above error using a small example. Is there any advice you can give me in order to find out how to reproduce that error using a small exampl

[2020-06-08 13:16] AdrienBoulanger commented on #453
Hi Calinil,

The second issue is probably a side effect of the first so let's focus on this one.
Does your project hierarchy contain an aggregate project with another aggregate project inside?
I am suspecting an unwind issue in the algorithm used to get the list of projects. I will try to reproduce the issue from my side.

[2020-06-17 11:23] 1ma opened #468 "Visual Studio Code debugging?"
Hi,

I just wanted to know if integrated debugging of Ada source code in Visual Studio Code is a planned feature for the [VSC extension](https://marketplace.visualstudio.com/items?itemName=AdaCore.ada), or whether if this feature would fit in the scope of the extension at all.

Thanks.

[2020-06-22 09:04] Ales-hon-ne commented on #468
Hi, debugging is working with manual settings.
On windows I use 2 files for it:
**.vscode\tasks.json**
`{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "Build",
            "type": "shell",
            "command": "<path to gprbuild.exe>",
            "args": [
                "${workspaceFolder}\\<project name>.gpr",
                "-f",
                "-cargs",

[2020-06-23 01:21] 1ma commented on #453
I'm also experiencing this issue, and indeed I have 2 projects: one to build a static library and one for the command line executables that use it. [Here's the source, right now it's very minimal](https://github.com/1ma/radatracer).

On this project you should be able to reproduce it with the latest stable version of VSC and the Ada plugin.

[2020-06-23 09:09] AdrienBoulanger commented on #453
Hi,

I have tested your project and I can reproduce the issue because als.projectFile was not defined.
When opening a folder containing multiple project files (.gpr), the ALS will complain and you should see the following popup:

[code]

The solution for this case is:
- create a .vscode directory
- inside it, create a file settings.json

See below the content of the file on my system:

[code]

If

[2020-06-23 10:27] 1ma commented on #453
Thanks Adrien.

I've added this file and restarted VSC, but the problem persists. If I create the `src/foo.ads` file and start typing the word "package" these are the verbose traces I now get.

By the way, I forgot to mention my environment:

OS: Ubuntu 18.04.4
GNAT version: FSF GNAT 7.5.0 (provided by Ubuntu's default `gnat-7` package)
Editor: Visual Studio Code 1.46.1
Extension version: 21.0.12

[2020-06-23 12:38] AdrienBoulanger commented on #453
I can reproduce the completion issue: the completion request will return a constraint_error when editing an empty file/an empty node => we will fix that.
Note: this is a different issue from the initial one about project handling.

[2020-06-25 09:13] AnthonyLeonardoGracio commented on #453
The completion issue is now solved, thanks for reporting it @calinil !

[2020-06-27 11:25] timlag1305 opened #476 "Missing lal_tools.gpr dependency"
I'm looking at the following line in the 21.0.12 release:
https://github.com/AdaCore/ada_language_server/blob/07b8d50a3d249d0e6ac7bce913da7941538fe82d/gnat/lsp_server.gpr#L19

Where does this `lal_tools.gpr` come from? The build fails without it and it doesn't seem to be provided by https://github.com/AdaCore/libadalang-tools

[2020-06-29 15:04] ogorodnik commented on #476
Hello,
libadalang-tools provide it. It is located in libadalang-tools/src/lal_tools.gpr
For building ALS you need to add the location of this project to GPR_PROJECT_PATH environment variable

[2020-06-29 15:05] #476 closed

[2020-07-14 20:18] manthonyaiello opened #495 "Missing syntax highlighting for certain keywords"
In 21.0.13, there are a few keywords that receive no syntax highlighting at all. They are, at least:

- of
- in
- not
- and
- or

Here's an example that captures most of these:
![image](https://user-images.githubusercontent.com/806089/87471952-2ceef400-c5ed-11ea-9ca5-58b6597a8d82.png)

Note that `in` is also unhighlighted in other contexts (e.g., subprogram signatures):
![image](https://user-image

[2020-07-14 20:39] manthonyaiello opened #496 "Mixed syntax highlighting for compound keywords"
In 21.0.13, there are some compound keywords that received mixed syntax highlighting. These are at least:

- for all
- for some
- end loop
- end if

Examples:
![image](https://user-images.githubusercontent.com/806089/87472961-c66ad580-c5ee-11ea-9b3f-2dc2bc0535cb.png)
![image](https://user-images.githubusercontent.com/806089/87473032-dda9c300-c5ee-11ea-8bbd-ef2ea11ba342.png)

I suspect that this is

[2020-07-14 20:44] manthonyaiello opened #497 "Syntax highlighting of declare statement"
In 21.0.13, I find the syntax highlight of the declare statement to be somewhat surprising:
![image](https://user-images.githubusercontent.com/806089/87474227-c9ff5c00-c5f0-11ea-8022-7aeba3674eab.png)

I can imagine this was done on purpose, but felt it was worth asking: is the idea that, since declare introduces new identifiers, it should get the same syntax highlighting as a subprogram declarati

[2020-07-14 20:54] manthonyaiello opened #498 "Crash attempting to load libgmp on darwin"
In 21.0.13, the server crashes repeatedly on startup with the following message:

[code]

This happens five times in a row with identical timestamps - but the server does seem to be working, at least as far as basic syntax highlighting goes.

The error is accurate: I definitely do not have libgmp (any version) in /usr/local/opt. I'm not sure why the server would assume I would, in fact. On my mach

[2020-07-20 07:48] TamaMcGlinn opened #503 "Support for alire"
It would be really useful if, when you initialize a project which has a `.alire` directory adjacent to it, alr were called to get the correct project path set up so that everything works as expected. If this were built into ada_language_server, it would no longer be necessary to have an alr plugin in GnatStudio, and it would automatically extend to other clients using ada_language_server.

[2020-07-20 08:04] reznikmm commented on #503
Could you provide more details about expected workflow, what is `.alire` is and what information should `als` get from `alr`?

[2020-07-20 08:33] Fabien-Chouteau commented on #503
@TamaMcGlinn integration with alire is indeed an interesting idea for the language server, here are my two cents:
 - Alire is still in development so it is a bit early to plan this kind of integration, for instance we are currently talking about a refactoring of the manifest format so the way you plan to detect if a project uses Alire may change in the short term.
 - Using `alr setenv` would be mu

[2020-07-20 18:49] manthonyaiello commented on #498
This bug persists in 21.0.14:

[code]

I'll note that, after the server has crashed five times, VS Code gives up. The result is that only syntax highlighting is available for Ada files.

[2020-07-21 07:11] reznikmm commented on #498
@manthonyaiello
Could you run this:
[code]
Doe this help?

[2020-07-21 12:27] manthonyaiello commented on #498
@reznikmm yes, this fixes the problem.

Also, the ALS is _really cool_ when it actually works! I had no idea what I was missing!

[2020-07-21 13:44] reznikmm commented on #498
@manthonyaiello Thank you for reporting the problem!

[2020-07-21 13:44] #498 closed

[2020-08-08 15:23] danwinslow opened #517 "Output window interrupting workflow"
Hi Folks.
I am continually interrupted by the output window getting various errors. Is it possible to turn that off? Apologies for using an issue to essentially just ask a question, but I wasn't sure where else to post.

Can I post what I get? Sure, but it happens every 2-3 minutes at least, all kinds of different things. You can find the latest example at the end.
Can I post example source code t

[2020-08-17 15:45] reznikmm commented on #517
Hello @danwinslow .

May be there is some configuration on VS Code side. Ada Language Server (ALS) doesn't have such a configuration.

We prefer to fix all errors in ALS, so we are not interested to hide any errors on server side. We would suggest users to open bug reports in case of errors. This would help us to fix errors.

For instance, we have recently fixed an error in `textDocument/completio

[2020-08-17 15:45] #517 closed

[2020-08-17 21:11] danwinslow commented on #517
Will do, thank you, Maxim.

From: Maxim Reznik <notifications@github.com>
Sent: Monday, August 17, 2020 10:46 AM
To: AdaCore/ada_language_server <ada_language_server@noreply.github.com>
Cc: danwinslow <danwinslow@cox.net>; Mention <mention@noreply.github.com>
Subject: Re: [AdaCore/ada_language_server] Output window interrupting workflow (#517)

Hello @danwinslow <https://github.com/danwinslow>  .

[2020-08-26 13:57] btmalone opened #528 "Update VSCode extension link in README"
The link for the VSCode extension is outdated and points to an older extension that isn't working (20.0.999 vs 21.0.15). This was confusing as I assumed it was linked to the latest version of the extension.
[code]
I would either remove the link entirely and instruct the user to search for the extension in the VSCode marketplace or update it to point to the proper VSCode extenstion.

[2020-08-26 17:46] reznikmm commented on #528
Yes, indeed. The 20.0.999 link is outdated. It should be 21.0.999. We will fix the README.md

Thank you!

[2020-08-28 04:47] rconnorjohnstone opened #529 "Support for Old-Style File Endings"
I'm relatively new to ada programming, so apologies if this is something that's already been accounted for and I just can't find the appropriate settings, but when using ALS in the built-in neovim lsp on lines such as:

[code]

I get the error: `file "foo-bar.adb" not found`. My understanding is that this is the modern naming scheme for an ada project, but my company uses an old naming scheme. Ins

[2020-08-28 04:52] reznikmm commented on #529
Yes, if you can express your naming schema in the project file. See [documentation](https://docs.adacore.com/gprbuild-docs/html/gprbuild_ug/gnat_project_manager.html#naming-schemes) for details. In short you should have in the project file something like this:

[code]

[2020-08-28 04:52] #529 closed

[2020-09-10 11:04] JHag6694 opened #541 "Visual Studio Code "gpr-aware" problemMatcher ?"
Hi
Start to evaluate ALS using the Visual Studio Code extension.
In the build task provided , problemMatcher is set to "$ada"

If I use the same task with my own projects, it sems that it will only let me jump to the correct file/line when the build task displays an error if .gpr and  .adb are in the same folder - as only the source file base name is displayed and problemMatcher is not "gpr-aware"

[2020-09-15 12:48] setton commented on #541
You're right @JHag6694 - at the moment I would pass `-gnatef` to gprbuild to emit full paths in error messages, this should work until a project-aware problemMatcher is implemented.

[2020-10-08 10:05] JHag6694 commented on #541
Thanks @setton for the option. Works fine

[2020-10-15 14:48] JHag6694 opened #567 "With VSCode, unable to make textDocument/references works, except on Standard Library !?"
Hello
I am using Windows /  VS Code 1.50.1 / extension LSA v22.0.1

Edit, compile and basic navigation works fine.
But "Find all references" (who call  textDocument/references if I understood correctly) almost always returns No results

In the attached basic example:

For any internal and external procedures, no results :
[Trace - 16:43:24] Received response 'textDocument/references - (145)' in 1m

[2020-11-01 11:57] esthermations opened #571 "VSCode: with editor.formatOnSave enabled, the extension seems to run a formatter that never completes"
I get this message, with the progress bar scrolling along the bottom, and it never finishes or does anything until I click cancel to dismiss it.

![image](https://user-images.githubusercontent.com/10289860/97802135-709d6480-1c95-11eb-8901-4f4f5bdd9243.png)

Could the extension possibly be configured to use gnatpp for formatting? 👀

Just thought I'd point this out and see if it's solveable beyond d

[2020-11-03 15:03] reznikmm commented on #571
@esthermations I'm unable to reproduce this, unfortunately.

1. Does "Format Document" work fine for you on the same file?
1. Could you provide a full reproducer or at least log files?
1. The extension uses `gnatpp` code base linked into executable as a library.

[2020-11-05 03:14] alisonken1 opened #572 "Fedora Linux - Open file "Request has failed" every time"
Whenever I open a file, this message pops up.

System: Fedora 32 Linux

Output window:

[Error - 7:10:58 PM] Request textDocument/documentSymbol failed.
  Message: CONSTRAINT_ERROR
[.vscode/extensions/adacore.ada-22.0.1/linux/ada_language_server]
0xc88be3
0xc9e355
0xd625ed
0xd82fd6
0xd884e4
0xcb54d8
0xceb556
0xcea52d
[.vscode/extensions/adacore.ada-22.0.1/linux/libgnarl-2020.so]
0x7f883083a958
[/l

[2020-11-05 17:43] reznikmm commented on #572
@alisonken1, could you try to specify project file? You can add setting `ada.projectFile` or create in the folder `.vscode/settings.json` file:

[code]

Does this help?

[2020-11-05 18:52] alisonken1 commented on #572
Thanks.

Apparently I had it set incorrectly in the wrong spot.

[2020-11-05 18:52] #572 closed

[2020-11-13 21:30] ohenley opened #576 "Not working/missing something on Windows 10 : https://github.com/reznikmm/spawn"
Note: I am reporting here because the issues section is not enabled on https://github.com/reznikmm/spawn. Please enable this section so we can report properly.

The following will output, as expected, 'me here':
[code]

The following will hinder any output at all, tested on Powershell and cmd:
[code]

[2020-11-16 12:37] #576 closed

[2020-11-16 12:43] ohenley commented on #576
On Windows, PowerShell does not inform you are missing a dll in your path (https://stackoverflow.com/questions/23012332/how-to-make-powershell-tell-me-about-missing-dlls). I probably tripped on a wrong configuration/experiment on my side.

[2020-11-24 11:10] oscarrutt opened #583 "How to run a program without debugger; possible launch.json issue"
Getting started with Visual Studio Code and Ada Language Server at the same time is brutally difficult.

The Sample Code download is virtually documentation-free and one is left trying to figure out a myriad of json files at both the editor level and at the Ada Language Server level.

I would be really happy to discover how to run an Ada program without the debugger. The only launch.json file prov

[2020-12-02 09:17] setton commented on #583
Hello @oscarrutt - thank you for the suggestion. We plan to improve this in the future.

[2021-01-29 00:10] terids commented on #541
I'm was having the same issue, but adding -gnatef to my build args doubles up my path as in the image..

![screenshot1709](https://user-images.githubusercontent.com/10546876/106214189-307f4c80-61c6-11eb-89d8-85e72629f064.png)

Any hint as to what I can change to get the problem matcher working correctly? This is my tasks.json..

![screenshot1710](https://user-images.githubusercontent.com/10546876/

[2021-01-29 11:31] setton commented on #541
Hello @terids - unfortunately this doesn't exist yet - we will need to write some code that processes the .gpr file and gets the list of file from it, in order to match base name to file name... we plan to work on this, but we don't have a date in mind yet.

[2021-01-30 08:35] JHag6694 commented on #541
Hello @terids
If you use -gnatef, you should use a problemMatcher where fileLocation is set to absolute.

Here attached, you will find my tasks.json which is working fine.

[tasks.json.txt](https://github.com/AdaCore/ada_language_server/files/5897605/tasks.json.txt)

[2021-01-30 17:14] terids commented on #541
@JHag6694 the absolute path did it for me, thanks so much for that :)

[2021-02-07 14:01] wiremoons opened #608 "Version output for 'ada_language_server' and upgrade information"
Hi

Firstly - thank you for providing the Ada Language Server!

Two reasons for opening this issue:

1. Is it possible to check the version of the Ada Language Server (ALS) installed with the Visual Studio Code (VSC) Ada Language Support Extension?  The only command line flags (on the Linux version) I can see are `--help` or `--tracefile=`. There is no: `--version`?
2. I recently upgraded the defa

[2021-02-08 09:13] reznikmm commented on #608
Hello @wiremoons,

Thank you for the issue and a good feedback. I'll add `--version` command line option.

The `.vsix` (not `L`, but `I`!) is a vscode extension file. You can install it
* from then command line

      code --install-extension <path_to.vsix>

* from vscode, using the "Install from VSIX" command in the Extensions view command drop-down,
* from the Command Palette by typing "Extensio

[2021-02-09 20:21] wiremoons commented on #608
Thank you @reznikmm for taking the time to explain the correct upgrade process, and how the `.vsix` file is used. Much appreciated.

Simon

[2021-02-10 00:04] 1ma commented on #468
It took a while to get around this but it works just fine, thank you.

[Here's a gist file](https://gist.github.com/1ma/8453a224ab3ba427ae746fd56a4893c4) that I created for future reference for myself, with a bit more clear instructions.

[2021-02-10 00:04] #468 closed

[2021-02-10 07:44] #608 closed

[2021-02-16 22:29] 1ma opened #614 "gnatstub integration with VSCode"
Just as the language server already seems to [ship with a bit of `gnatpp` code](https://github.com/AdaCore/ada_language_server/issues/571#issuecomment-721183485) to format source files, it'd be nitfy to be able to autogenerate package bodies via a file-context menu action that could use `gnatstub` behind the scenes.

This would be extra helpful in Debian-based distributions, where `gnatstub` has r

[2021-03-04 10:49] oscarrutt commented on #202
I'm using the Ada Language Server in Visual Studio Code on macOS.

This problem is hitting hard in 22.0.999 (and earlier). Sometimes I can work for many minutes without a crash but sometimes, as now, I get a crash almost as soon as I move the cursor into the editing area of a source file. Repeated crashes one after another until I think five crashes and then the server does not start again. It's h

[2021-03-04 10:55] oscarrutt commented on #202
Here is the macOS crash log from a subsequent restart-and-crash sequence. i've pasted the VSC output above the macOS info but I think it is the same or similar as pasted above in my first post
[VSD output plus macOS crash log.txt](https://github.com/AdaCore/ada_language_server/files/6083006/VSD.output.plus.macOS.crash.log.txt)
.

[2021-03-04 11:10] oscarrutt commented on #202
Sorry for multiple posts. Here is the file that I am trying to edit. The crash is repeatable to about 90+% of the time when hovering over d_Theta in line 67 but crashes appear at other locations. Many times just moving the cursor around over the window causes a crash and I don't even know where it was when the crash was triggered. (File renamed to humor github.)
[Antenna_Weighted_Projections_Disse

[2021-03-04 12:37] jgueytat opened #621 "Publish the extension adacore.ada also on https://open-vsx.org/ for the Web based IDE"
Hi everyone,

thanks for the great job about the LSP !! There is a lot of projects now taking advantage of the web development thanks to the VSCode project. https://theia-ide.org/ is now a commonly used SDK for the Web based IDE. It uses exactly the same VSCode plugin. The only thing to do is to not publish the extension only on VSCode but also on https://open-vsx.org/.

https://github.com/open-vs

[2021-03-04 13:27] setton commented on #621
Thanks @jgueytat for the heads-up! We're having a look.

[2021-03-04 14:43] jgueytat commented on #621
I plan to setup a project for Ada exactly the same way I did for the C++. Clicking on the button bellow will open https://bitbucket.org/jgueytat/helloworld_in_c/src/master/ on http://gitpod.io.

[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io/#https://bitbucket.org/thalesaleniaspace/helloworld_in_c/src/master/)

I'll setup [the same for Ada](https://jgueytat@bitb

[2021-03-04 15:28] setton commented on #621
That would be awesome. A very good incentive for us to push the extension to open-vsx.org...

[2021-03-04 15:28] setton commented on #621
Regarding docker, we don't have an official one for GNAT Community, but there are quite a lot of them available out there already. I don't know which one to recommend :)

[2021-03-04 20:19] jgueytat commented on #621
I found what I was looking for :

- https://hub.docker.com/r/dgautherot/gnat-community
- https://github.com/dgautherot/docker-gnat-community

[2021-03-05 09:03] oscarrutt commented on #202
Here's an MWE. Hovering over parts of lines 7 and 8 induces multiple crashes every time. Same when attempting to edit those lines. Removing (1) from range stops the crash. There are also macOS crash logs shown for the extension and sometimes VSC itself crashes. Same behavior for Real_Matrix. In the original file that I posted earlier many many crashes would occur as the cursor is moved around the

[2021-03-05 17:19] jgueytat commented on #621
VSCode and VSCode Remote work both like a charm.

The project [HelloWorld in Ada](https://bitbucket.org/jgueytat/helloworld_in_ada/src/master/) is ready for further tests with Gitpod once your extension will be published. I would be glad if you give it a try !

[![Gitpod ready-to-code](https://img.shields.io/badge/Gitpod-ready--to--code-blue?logo=gitpod)](https://gitpod.io/#https://bitbucket.org/j

[2021-03-06 12:23] jgueytat commented on #621
https://www.youtube.com/watch?v=XWDArhNOXRo

[2021-03-11 16:43] setton commented on #621
@jgueytat we have done the preliminary steps - we'll publish shortly and see how it goes.

[2021-03-12 10:57] setton commented on #621
Hi @jgueytat - @reznikmm has just pushed the extension `AdaCore.ada v22.0.5` on the Open VSX registry. Please let us know if you're able to use it, we're very keen to see if it works!

[2021-03-12 10:57] #621 closed

[2021-03-12 13:17] reznikmm commented on #621
@jgueytat, I've tested it on gitpod and it works!

[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io/#https://bitbucket.org/reznikmm/helloworld_in_ada/src/master/)

[2021-03-12 13:59] jgueytat commented on #621
Trying it also ! The Docker image I used seems overkill. But at least it's enough to test the extension. :)

[2021-03-12 14:55] jgueytat commented on #621
It's working like a charm. :) In case you want to test the latest VSCode API you can still switch to code instead of Theia.
https://www.gitpod.io/docs/feature-preview/#default-ide

Thanks a lot !

[2021-03-13 15:42] sp-marcel-hernandez opened #633 "STALE_REFERENCE_ERROR and PRECONDITION_FAILURE errors"
I've been hitting these exceptions intermittently for a few weeks. I could not determine what exactly triggers them but once they do, they start appearing continuously (several times per minute).

VS Code version: 1.54.1
AdaCore extension version: 22.0.4 and 22.0.5

Here are sample traces with full debug information. The first one is way more common than the second (10 to 1), I'm not sure if they

[2021-03-19 15:01] jgueytat opened #643 "Warning on GitPod"
Hi,

https://github.com/gitpod-io/gitpod/issues/3470#issuecomment-802894714

If someone could have a look to this issue detailed there https://github.com/gitpod-io/gitpod/issues/3470 that would be awesome.

I try to get a single set of extensions on VSCode, VSCode Remote and GitPod for Ada and C.

Best Regards !

[2021-03-19 15:40] jgueytat commented on #643
A good information is that **code** is going to be the default IDE. Which means the difference of comportment with VSCode or VSCode Remote and GitPod should get tinier.

[2021-03-20 17:04] jgueytat commented on #643
Sorry for the wrong direction. I made a setup with a C/C++ project and got the same warning. The warning might come from another extension.

- https://github.com/jgueytat/HelloWorld-in-Ada
- https://github.com/jgueytat/HelloWorld-in-C

I just tried VSCode WSL for Ada development. It's just perfect. You have your linux dev environment on Windows with WSL, you can fix the development environment wit

[2021-03-20 17:24] jgueytat commented on #643
Finally I still have some doubt about the warning which might come from here.
Those two issues are opened about the two setup for Ada and C/C++ :

- https://github.com/gitpod-io/gitpod/issues/3470
- https://github.com/WebFreak001/code-debug/issues/260

[2021-03-22 08:58] jgueytat commented on #643
@reznikmm could you have a look to this one to confirm you have the same behavior than myself concerning the Warning ?

[2021-03-22 15:14] jgueytat commented on #643
**Today's update :**
I can get the warning with my C/C++ project too. I get the warning on the second workspace I open, whichever the order.

[2021-03-23 00:15] jgueytat commented on #643
I was able to reproduce the warning without the Adacore extension.
:+1:

[2021-03-23 00:15] #643 closed

[2021-03-30 09:30] AnthonyLeonardoGracio commented on #633
Hello,

Completion is still under development so bugs might occur unfortunately. We plan to revamp it completely during the year, so hopefully it will get more and more stable. We'll let you know once this issue gets resolved ;)

Regards,

[2021-03-30 09:33] AnthonyLeonardoGracio commented on #614
Hello,

The LSP protocol does not include requests to generate files for now unfortunately. We can still add a custom request to use `gnatstub` behind the scene. We'll think about this, thanks for the suggestion!

Regards,

[2021-04-02 09:30] #528 closed

[2021-04-02 09:33] reznikmm commented on #541
I've added a "auto-detected tasks" that work well with "$ada" problem matcher using absolute file names (`-gnatef` option):

https://user-images.githubusercontent.com/6430719/113403445-559f5f80-93af-11eb-9110-326cdf4f202d.mp4

[2021-04-06 08:06] oscarrutt opened #654 "Crash on hover with tiny MWE"
I think I posted this at the bottom of an old thread so I'm opening a new ticket. Sorry for any confusion.

Consider this tiny program:
[code]

With the Ada Language Server 22.0.6 (current in the Marketplace) running in Visual Studio Code 1.55.0 running in macOS, hover the cursor over elements of the line `b := i;` and you will get a crash of the ALS. As noted in the comments, removing the optiona

[2021-04-06 08:09] oscarrutt commented on #202
I moved this to new ticket https://github.com/AdaCore/ada_language_server/issues/654.

[2021-04-06 10:03] reznikmm commented on #654
@oscarrutt Thank you for the bug report. I'm unable to reproduce it on my Linux machine unfortunately.
Could you to set traces to `verbose` and try again? Just open user settings / extension / Ada configuration find there
[code]
and set it to verbose.
Then open Output (`Ctrl+K Ctrl+H`) chose `Ada Language Server` and find there any output after `textDocument/hover` request (after the crash).

[2021-04-06 12:17] reznikmm commented on #654
What is your Mac OS version?

I suspect it could be result of Mac OS incomparability. Git Hub Action builds ALS on Mac OS 10.15. If you have older Mac OS, could you try to replace `libgmp.10.dylib` in `.vscode/extensions/adacore.ada-22.0.6/darwin/` with your own version of `libgmp.10.dylib`? It could be found in Homebrew.

[2021-04-07 09:33] #316 closed

[2021-04-08 21:58] 1ma opened #657 "Wrong highlighting of text after "new X""
Small fish, but still.

![error](https://i.imgur.com/p7lkptJ.png)

VS Code `1.55.1` and AdaCore.ada `22.0.6`

Repro code:

[code]

[2021-04-09 01:44] oscarrutt commented on #654
@reznikmm Thanks for looking at this. Here is the verbose trace file. I didn't edit it so you will find the textDocument/hover part about halfway. Some notes:

I noticed that there can be crashes when also hovering over parts of the for-loop as well as the next line. Indeed, if I am interpreting the trace correctly, the crash appears to have happened then, although I thought I was hovering over pa

[2021-04-09 04:29] oscarrutt commented on #654
@reznikmm I am running macOS 10.11.6. Yes it is older but the newest that Apple supports on my machine.

I found `libgmp.10.dylib` in my MacPorts installation and also in Julia 1.5. I renamed the one in the ALS extension and put a symlink from the MacPorts version alongside. After about  minute of testing on the MWE and some simple variations I am unable to get a crash. So it looks like you found

[2021-04-09 16:23] reznikmm commented on #654
You are welcome! Thank you for the tiny MWE.

To keep records, there is dylib loading error in the trace:

[code]

[2021-04-09 16:23] #654 closed

[2021-04-09 16:30] reznikmm commented on #202
I've just tested the example in `test.zip` and it works fine. So, I'm closing this issue. Thank you for the bug report.

[2021-04-09 16:30] #202 closed

[2021-04-09 16:39] reznikmm commented on #583
For example, the C/C++ extension uses the Terminal for [Running the build](https://code.visualstudio.com/docs/cpp/config-linux#_running-the-build). It's very flexible approach, because the user can pass command line options, redirect input/output and the program even can use text UI.

It's possible to do the same with Ada extension.

[2021-04-09 17:53] hillsmLM opened #659 "code navigation not working"
Definition, Declaration, References etc not working.
what has to be present for this functionality?  *.ali?  if so where to set path to find?

[2021-04-12 08:44] reznikmm commented on #659
The Ada Language Server doesn't use `.ali` files at all. But to have the navigation working you should provide a project file (`.gpr`). If you use the VS Code then you can [configure it](https://github.com/AdaCore/ada_language_server#configuration) in the `.vscode/settings.json` file or using VS Code UI.

[2021-04-12 08:44] #659 closed

[2021-04-12 14:41] hillsmLM commented on #659
Thanks that worked.

On another note how do I get the gnatpp?
Installed the rest of the tools from gcc-gnat

Scott M Hill
Software Engineer
Rotary and Mission Systems (RMS)
589 Independence Road
Hurlburt Field, Florida 32544
Office:   (850) 374-9275
E-mail LM:  ***@***.***

From: Maxim Reznik ***@***.***>
Sent: Monday, April 12, 2021 3:45 AM
To: AdaCore/ada_language_server ***@***.***>
Cc: Hill, S

[2021-04-12 17:47] hillsmLM commented on #659
I downloaded the community version from AdaCore to get gnatpp but how do I get VSCode to run it.  It no longer seems to be trying to.

Thanks.

Scott M Hill
Software Engineer
Rotary and Mission Systems (RMS)
589 Independence Road
Hurlburt Field, Florida 32544
Office:   (850) 374-9275
E-mail LM:  ***@***.***

From: Maxim Reznik ***@***.***>
Sent: Monday, April 12, 2021 3:45 AM
To: AdaCore/ada_langu

[2021-04-15 19:54] 1ma opened #668 "VS Code extension is not aware of sources managed by Alire"
## Scenario

A project bootstrapped by Alire can depend on "crates" from the Alire registry through the usual `with "crate.gpr";` statements in your GPR file. Then, if instead of building your project with `gprbuild` you use `alr build`, Alire takes care of downloading any dependencies into the project root directory (under `alire/`) and silently sets the appropriate `GPR_PROJECT_PATH` for `gprbui

[2021-04-16 19:21] cwilliso813 opened #669 "Implement Alt-O to Swap Spec/Body Similar to Existing VSCode C++ Feature"
With the Microsoft C++ extension, the Alt-O shortcut can be used to swap between editing the header and source file for a particular header/source pair with the same name.

This would be a very useful feature for Ada since it has the corresponding spec/body pairing, and developers often have to swap between these two files.

There are several naming conventions in play for Ada: (*.ada, *.ads/*.adb

[2021-04-18 21:39] 1ma commented on #668
A nasty side effect of this error I didn't notice before: it breaks code navigation (Ctrl+Clicking symbols).

[2021-04-19 09:51] reznikmm commented on #668
Hello @1ma  This issue duplicates #503, I guess.
How should ALS find that the project uses `alire`?

[2021-04-19 09:51] reznikmm commented on #503
Let's continue the discussion in #668

[2021-04-19 09:51] #503 closed

[2021-04-19 09:59] 1ma commented on #668
Sorry, I saw it but I thought it was more of a philosophical discussion and didn't want to hijack it with an issue.

Regarding your question, maybe ALS could check if the current project contains any `alire.toml` file, and do something from there.

[2021-04-19 10:09] reznikmm commented on #571
I can't reproduce this, so I'm closing this. Don't hesitate to provide more details to help us investigate this.

[2021-04-19 10:11] reznikmm commented on #233
This is fixed already.

[2021-04-19 10:11] #233 closed

[2021-04-19 10:13] reznikmm commented on #234
I hope this is fixed too.

[2021-04-19 10:13] #234 closed

[2021-04-19 18:09] 1ma commented on #669
FYI there is already a similar feature that I use all the time: Ctrl+Clicking the name of a function in the Spec file takes you to the implementation in the Body file, and vice-versa.

[2021-04-19 18:29] cwilliso813 commented on #669
That is helpful but I still think Alt-O would add value.

In addition, I regret to say that many of the features of the VSCode Ada extension do not work for me or work inconsistently, so I am unable to test this properly. My best guess on why the extension does not work is that my codebase is being accessed by necessity through sshfs which is resulting in network bottlenecks. I often see VSCode do

[2021-04-26 08:51] Fabien-Chouteau commented on #668
Alire has a `alr edit` command that can start you favorite editor in the context of the crate.
The default is to use GNATstudio, but you can configure it to start VScode. If that helps.

[2021-04-26 14:38] #633 closed

[2021-04-26 19:02] jaroslawblak opened #678 "Binary images are forbidden"
I have tried to use binary image links to get one for MAC OS but I got 403 forbidden. (Tried also for linux image)
Any ideas?
![image](https://user-images.githubusercontent.com/26309796/116136514-afefbf80-a6d2-11eb-94f2-36fbe86d8665.png)

[2021-04-26 19:10] reznikmm commented on #678
Take a look [here](https://bintray.com/reznikmm/ada-language-server/ada-language-server/22.0.999#files).
Unfortunately BinTray will stop this service on 1 May 2021. We are developing another solution.

[2021-04-26 19:10] #678 closed

[2021-04-26 19:18] jaroslawblak commented on #678
Unfortunately provided link has the same effect

[2021-04-27 08:02] reznikmm commented on #678
@jaroslawblak Works for me :confused: Could you try a command line tool?
[code]

[2021-04-27 09:27] AnthonyLeonardoGracio commented on #669
Hello!

Unfortunately the LSP does not provide any request to provide a 'Switch to header/body' command. But here is an extension that works: https://marketplace.visualstudio.com/items?itemName=ryzngard.vscode-header-source

You will just need to add an entry for Ada in the `headerSourceSwitch.mappings` setting to have Alt+O working for Ada too.

Indeed, looks like a separate issue. Looking a bit

[2021-04-27 11:50] jaroslawblak commented on #678
Great, with curl it worked. I also tried today via link to BinTray and it also worked.  Seems that it was like temporary issue on their side. Thank you :)

[2021-04-29 10:38] reznikmm commented on #669
@cwilliso813 Speaking about `sshfs`, I would suggest you to try Remote Development extension for VS Code instead. I've tried it with the Ada extension and it works well!

I made a short video about it:

[![](http://img.youtube.com/vi/VjS7L_rQY2A/0.jpg)](http://www.youtube.com/watch?v=VjS7L_rQY2A "Remote Development in Ada")

[2021-04-29 19:14] cwilliso813 commented on #669
Thanks for the suggestion! I tried the remote extension with SSH and I think it should be a major improvement over using VSCode overtop sshfs, which tends to be unstable in my environment. I also managed to install the Ada Language Support extension on the remote host using this method. The install was a little rough because the remote machine lacks at internet connection. Setting "remote.SSH.loca

[2021-04-30 15:20] #669 closed

[2021-04-30 18:53] cwilliso813 commented on #669
Thanks a lot! Do you think I should open another issue for performance issues on a large codebase?

[2021-05-06 08:30] carloxff opened #690 "Indentation problem on function call"
Hi,

If we have a function call like this
[code]
Now, we add an extra indentation for the whole block (select + tab). The result is:

[code]

The second and subsequent parameters are aligned with the parenthesis, instead of with the first parameter.

Greetings!

[2021-05-07 10:09] SMerrony opened #691 "Constant "Imprecise Fallback" Popups When Editing"
First of all: thanks for creating this extension - it's great to be able to work in Ada in such a familiar environment.

I'm using v22.0.7 of the extension in the version 1.55 of VS Code.

But, when editing code I get a constant stream of pop-ups with `Imprecise fallback used to compute cross-references on entity at:` messages.

Is it possible to suppress these pop-ups?

Thanks.

[2021-05-10 08:43] setton commented on #691
Hello @SMerrony - thank you for the kind words. Yes I would tend to agree that these messages are too noisy at the moment, we'll have a look.

[2021-05-12 01:03] oscarrutt opened #693 "Inconsistent and/or confusing keyword coloring"
As always, thanks for this great extension.

I'm getting inconsistent keyword coloring in  Visual Studio Code 1.56.0.

I have edited my settings.json file so that the  "Visual Studio Light" suits me. Within this file, the part that I have edited is sort of like editor.tokenColorCustomizations -> Visual Studio Light -> keywords -> foreground -> my favorite keyword color. Let's say my favorite keywo

[2021-05-12 01:10] oscarrutt opened #694 "Snippets do not honor my setting for indentation"
When inserting snippets from this extension such as for, if, and so on, the placeholder blank lines where one would insert code are indented only three spaces where I have set my preferences for four spaces. Visual Studio Code 1.56.0.

Snippets from the Ada-snippets extension honor my four-space setting.

BTW, I wish Ada-snippets and Language Support for Ada (this one) would merge their snippet ef

[2021-05-12 01:43] oscarrutt opened #695 "Function names on RHS of assignments get the wrong color"
Function names appearing on the right-hand side of assignment statements get a different coloring than the same names in the function definition. In the first case, the color appears to be some kind of default or the same as variables, where in the second case the color is as defined in settings.json. Visual Studio Code 1.56.0.

[2021-05-12 01:48] oscarrutt opened #696 "Weird shift of in-line comments in pop-over window of function definition.pdf"
[Weird comment shift in pop-over window.pdf](https://github.com/AdaCore/ada_language_server/files/6462858/Weird.comment.shift.in.pop-over.window.pdf)
In the attached image file of a pop-over window when hovering over a particular function name, the in-line comments are shifted to the wrong line and one line is not colored properly. Visual Studio Code.

[2021-05-12 02:16] oscarrutt opened #697 "Incorrect coloring of variable names containing numbers"
Sometimes in variable names that contain numbers the number part of the name is colored like a number instead of like a variable name. Visual Studio Code 1.56.0.
[Incorrect coloring of variable names with numbers.pdf](https://github.com/AdaCore/ada_language_server/files/6462984/Incorrect.coloring.of.variable.names.with.numbers.pdf)

[2021-05-12 02:26] oscarrutt commented on #583
Thank you, Maxim. I managed to get some things working by borrowing from my long-time TextMate set-up which was really the work of someone else's Ada efforts at the time. I'm happy with my set-up now but there was a long learning curve.

[2021-05-12 08:52] reznikmm commented on #697
Indeed. I'm able to reproduce it.
The syntax highlighting was developed by the community. Feel free to send a pull request if you know how to fix this issue.
On my site I'm going to implement a LSP request for the highlighting when time permits.

[2021-05-12 09:44] reznikmm commented on #693
AFAIK you can change a token of any kind [using textMateRules](https://code.visualstudio.com/docs/getstarted/themes#_editor-syntax-highlighting)
[code]

Consider to use [Scope Inspector](https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#scope-inspector) to find needed scope identifiers.

[2021-05-12 09:44] #693 closed

[2021-05-12 09:55] reznikmm commented on #695
The syntax highlighting was developed by the community. Feel free to send a pull request if you know how to fix this issue.

[2021-05-12 10:08] reznikmm commented on #696
@oscarrutt Thank you for the bug report.
Unfortunately, I'm unable to reproduce this. Can you send us sources of a minimal reproducer?

[2021-05-14 09:08] oscarrutt commented on #697
I don't know how to fix it.

[2021-05-14 09:10] oscarrutt commented on #695
I don't know how to fix this.

[2021-05-14 09:12] oscarrutt commented on #696
I'll wait to see if this appears in other instances before trying to work up a MWE.

[2021-05-20 11:15] ChuanyuanLiu commented on #691
Thanks for creating this server

I also have the problem and the constant notification is very stressing.

My workaround is to toggle Zen Mode to silence notifications.

[2021-05-25 09:20] petacreepers23 commented on #691
Hello,

I am also having that same problems with that same notifications. Not sure what can be causing them. It woukd be nice to be able to suppress them if possiblem

Thanks.

[2021-05-25 09:23] petacreepers23 commented on #690
Hello.

I have the same coding style as @carloxff described. It would be nice to know if this is configurable.

Thanks.

[2021-05-29 07:59] TamaMcGlinn opened #709 "compilation failure: laltools-refactor-rename.ads not found"
After fetching all the dependencies (with libadalang and langkit on the 'stable' branch, but this one on 'master', as [this note in the README](https://github.com/AdaCore/libadalang-tools/commit/3b438eb664ae07505a7167c83e409d353e17ca69) states), I tried `make` (after setting all the necessary GPR_PROJECT_PATH (*) but got:

[code]

I can see that file was renamed in [commit 4d752f7](https://github.

[2021-05-29 08:03] reznikmm commented on #709
Try to get `edge` branch of `ada_language_server` instead of `master`.

[2021-05-29 08:15] TamaMcGlinn commented on #709
Thank you, that works a bunch better, but I still get a compilation error:

[code]

(of course, I could turn off the warning, but it's hard to imagine this is what AdaCore does, so I probably still have the wrong version of something)

[2021-05-29 10:44] reznikmm commented on #709
I guess these not referenced entities slipped through our CI, because we use an older compiler (GNAT CE 2020). Please update from `edge` and try again.

[2021-05-29 10:46] TamaMcGlinn commented on #709
Thank you, that works.

[2021-05-29 10:46] #709 closed

[2021-06-03 14:49] #691 closed

[2021-06-09 09:51] oscarrutt opened #719 "Automatic line breaking does not work with the new 100-column punch cards"
Version v22.0.7 of Ada Language Server apparently tries to break lines at column 80. This is a problem for me because I am using the new 100-column punch cards. 8^) Editing the line to my preferred width then becomes difficult.

I'm using Visual Studio Code 1.56.2 on macOS.

Is there a setting for this, or can the line breaking be turned off?

In addition, when trying to paste a bit of text into t

[2021-06-09 10:38] reznikmm commented on #719
@oscarrutt

What action in the VS Code causes line breaks in your file?

VS Code has a setting for "word wrap column", try to change it:

    "editor.wordWrapColumn": 100

The document/range formatting action uses `gnatpp` setting ([--max-line-length=](https://docs.adacore.com/gnat_ugn-docs/html/gnat_ugn/gnat_ugn/gnat_utility_programs.html#general-text-layout-control)). You can change it in the pr

[2021-06-10 10:00] #719 closed

[2021-06-25 02:30] coffeebe4code opened #727 "Where do I put the .vim/settings.json contents for Vim."
I am using Coc Nvim on Vim 8. The language service runs, and provides all completion. However, when there are two .gpr files one for building the project, and the other for testing the project.

I see this output

![image](https://user-images.githubusercontent.com/78776922/123360396-dabf8e00-d532-11eb-8267-62da091255ce.png)

I tried adding it to the `coc-settings.json` like so
[code]

I also tried

[2021-06-25 08:40] reznikmm commented on #727
Hello @coffeebe4code,

Could you try this:
[code]

[2021-06-25 16:55] coffeebe4code commented on #727
[code]
I have tried all these options as well, the language server still gives the same message

[2021-06-26 22:37] coffeebe4code commented on #727
@reznikmm if you point me to the code, where the settings are imported, or where the file path is read. Could be through arguments on the server startup? I would be happy to look it over and add support for it if it doesnt exist.

[2021-06-27 20:15] coffeebe4code commented on #727
I looked at the test suite, and noticed that ada property in settings, was using an object structure. Here is the config that worked.

[code]

[2021-06-27 20:15] #727 closed

[2021-06-29 10:10] setton commented on #727
Thanks @coffeebe4code for the heads-up.

[2021-08-05 05:19] timlag1305 opened #756 "textDocument/declaration error (LANGKIT_SUPPORT.ERRORS.PROPERTY_ERROR)"
Hi,

I am using ada_language_server that I compiled from the gnat community 2021 sources. I am running into an error that prevents me from navigating to a declaration. You'll see that there is actually an exception opening the Ada file as well. Perhaps this is causing the problem navigating to the declaration.

I am running on Linux. I redacted some info. I haven't tried to reproduce on a simpler

[2021-08-05 05:43] reznikmm commented on #756
hello @timlag1305

Have you tried prebuilt Ada Language Server from the VSCode extension? Does it produce the same result?

Our prebuilt Ada Language Server contains the latest version of libgpr, gnatcoll, libadalang and other dependencies with some errors fixed since GNAT Community 2021 Edition release.

The `CONSTRAINT_ERROR` is unexpected. Can you send us symbolic backtrace for it?

On the othe

[2021-08-05 16:03] timlag1305 commented on #756
Using the prebuilt version from the VSCode extension works correctly. I will work on getting a backtrace of the community release.

[2021-08-06 01:01] timlag1305 commented on #756
I recompiled als and some of its dependencies with debug options. I wasn't able to obtain the complete symbolic backtrace (not sure why) but there is more information.

[code]

[2021-08-06 01:51] timlag1305 commented on #756
I recreated the simplest example I could and still ran into the problem. I am using the built-in language client of neovim 0.5 if it matters.

I created a simple gpr file, empty Makefile, and procedure. See gist: https://gist.github.com/timlag1305/c8ebc4a2eb2b82737f93c18b938dca26

The directory structure is as shown:
[code]

Here is the error:
[code]

[2021-08-08 06:28] #694 closed

[2021-08-09 09:28] reznikmm commented on #756
Hello @timlag1305

The `workspace/didChangeConfiguration` notification looks suspicious:
* "renameInComments": "true",
* "enableDiagnostics": "true"

Both these properties expected to be boolean type, not a string, so should be written without quotes.

Did you change `.vscode/settings.json`? Can you check these properties there? It should be

    "ada.renameInComments": true

instead of

    "ada.

[2021-08-09 16:23] timlag1305 commented on #756
Good catch. I am using neovim lsp here. I changed the type from a string to a boolean and that resolved the issue.

[2021-08-11 09:23] #756 closed

[2021-08-16 17:03] abdurham2 opened #767 "Ada Language server launching error"
When launching VS Code with Ada Language Support for Ada, version 22.0.9, updated on 2021/08/09, an error occurs stating that it failed to launch the language server.  This error prevents us from using references.  Reverting to version 22.0.8 removes the error.
![ADA language server issue image 1](https://user-images.githubusercontent.com/64164359/129601783-c42e95ac-8551-4502-8a92-7f78e70fb932.png

[2021-08-16 17:07] reznikmm commented on #767
Can you start `CMD.exe` and try to launch ALS in the command line? Does it cause any error?

[2021-08-16 17:16] abdurham2 commented on #767
Hello,

So I opened a command prompt in ..\.vscode\extensions\adacore.ada-22.0.9 and looked for an .exe to run, but I don’t see one.  Which file do I try to run?

April

___________________________________
April Durham
Software Engineer, Nav & Guidance
GE Aviation Systems

3290 Patterson Avenue SE
Grand Rapids, MI 49512
Tel: +1 616-558-0213
Email: ***@***.***

From: Maxim Reznik ***@***.***>
Sent:

[2021-08-16 17:20] reznikmm commented on #767
Hello @abdurham2

Hm, indeed, `.vscode/extensions/adacore.ada-22.0.9/win32/ada_language_server` lacks `.exe` extension. Could you rename it to `ada_language_server.exe` and try again?

[2021-08-16 17:27] abdurham2 commented on #767
Hello,

Ok I thought that was the file, I just didn’t know to rename it.

So when running that through the cmd line, it seems to just hang.  No more prom pts but no errors either.

***@***.***

April

___________________________________
April Durham
Software Engineer, Nav & Guidance
GE Aviation Systems

3290 Patterson Avenue SE
Grand Rapids, MI 49512
Tel: +1 616-558-0213
Email: ***@***.***

From:

[2021-08-18 11:32] reznikmm commented on #767
@abdurham2

This is expected. Could you try VS Code now? Does it work well after renaming?

[2021-08-18 13:50] abdurham2 commented on #767
Hello,

Yes, this seems to have resolved the issue.  I updated the extension back to 22.0.9, added the .exe to the end of ada_language_server again, and reopened vscode, and I no longer get the error, and the reference menus have returned when right-clicking on code objects.  Do you plan to push out an update to fix this?

Thank you!
April

___________________________________
April Durham
Software

[2021-08-19 07:54] reznikmm commented on #767
Great! We will issue an update shortly.

[2021-08-19 08:16] #767 closed

[2021-08-20 03:47] pyjarrett opened #772 "Starting client failed"
I get the same error message, despite uninstalling/reinstalling the plugin.

## Error Message

[code]

## Local Fix

`C:\Users\Paul\.vscode\extensions\adacore.ada-22.0.9\win32\ada_language_server` exists, adding `.exe` onto the end allows the language server to start properly.

[2021-08-20 06:03] reznikmm commented on #772
Hello @pyjarrett

This has been fixed already in #767. We will publish a new version of the extension next week.

[2021-08-20 06:03] #772 closed

[2021-08-27 19:41] patricknoffke opened #784 "Update VS code problem matcher for style messages"
I have style checks enabled with my compilation flags, which results in messages like:

filename.adb:514:80: (style) this line is too long

These are mapped to errors in VS code using the $ada problemMatcher.  Can you please update the matcher to map these to warnings or info?  The code below does this, but I have to replicate it for every task.  It would be nice to have it defined in the extensio

[2021-09-09 14:43] patricknoffke commented on #784
Here is an updated problemMatcher that maps style checks to info and fixes the mapping of warnings/errors.

[code]

[2021-09-09 18:38] setton commented on #784
Hi @patricknoffke, thank you for the heads-up, we'll try to include this soon.

[2021-09-11 18:58] pyjarrett commented on #668
I've been using `alr config --set editor.cmd "code ."` pretty successfully, since it sets the environment prior to startup, including `GPR_PROJECT_PATH`.  The big issue I run into is that the GPR project file for the extension is per-workspace, so I have to change the GPR when I work on different projects, but it works well when it is set.

[2021-09-14 01:02] pyjarrett opened #807 "Completing elements not `with`'d adds "(invisible)""
Hitting enter with a partial completion inserts the text along with "(invisible)":

[code]

I know I need to add a `with` for `Ada.Directories` but I don't think completion should add "(invisible)".

[2021-09-14 09:09] reznikmm commented on #807
Hello!
Thank you for the new issue. I'm able to reproduce it! We will fix and publish a new version shortly.

[2021-09-17 08:06] reznikmm commented on #807
This should work fine in 22.0.11

[2021-09-17 08:06] #807 closed

[2021-09-24 18:04] brownts commented on #784
This is an issue for "info" messages also being incorrectly categorized as errors.  Hopefully that can be addressed by this update as well.

[2021-11-02 13:05] reznikmm commented on #541
I think this works now (with `-gnatef` help).

[2021-11-02 13:05] #541 closed

[2021-11-02 13:15] reznikmm commented on #583
1. Press `` Ctrl+` `` to open a terminal
2. Type executable and arguments if any: `./hello_world`

[2021-11-02 13:15] #583 closed

[2021-11-06 12:15] oscarrutt opened #849 "ALS 23.0.1 bombing in VSCode upon launch"
This appears similar to https://github.com/AdaCore/ada_language_server/issues/654  #654 but without a clue as to how to use an alternate library. (In #654 it was libgmp.)

From VSCode, upgraded November 6, 2021:
Version: 1.62.0
Commit: b3318bc0524af3d74034b8bb8a64df0ccf35549a
Date: 2021-11-03T15:24:41.297Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin

[2021-11-07 03:45] oscarrutt commented on #849
This problem does not appear in ALS 22.0.11, but does appear in 23.0.1.

[2021-11-09 13:29] reznikmm commented on #849
@oscarrutt

The reason for this is a change of `macos-latest` version in GitHub CI.

I propose you to build ALS yourself. I've prepared an alire index with dependencies and a short instruction:

https://github.com/reznikmm/als-alire-index/

Could you try?

[2021-11-09 23:34] oscarrutt commented on #849
Thank you.

Building ALS myself would be a very heavy lift as I'm unfamiliar with or at best clumsy with most of the things involved in the instructions.

[2021-11-10 10:03] reznikmm commented on #849
@oscarrutt
Try to replace `ada_language_server` with [this binary](https://github.com/AdaCore/ada_language_server/releases/download/23.0.1/als_23.0.1_darwin.zip). Does it help?

[2021-11-10 10:29] oscarrutt commented on #849
It does. With only a few minutes of testing it appears to fix the crash on launch.

[2021-11-11 14:56] #849 closed

[2021-11-30 11:44] thvnx opened #860 "Some wrong highlighting"
Hi,

Here are some wring highlighting I encountered on the following exemples:

- `type` and `end`:
![Screenshot 2021-11-30 at 09 09 38](https://user-images.githubusercontent.com/8591473/144040971-8e36a474-259e-4f23-9abd-f17707de8e98.png)

- `reverse` and `of`:
![Screenshot 2021-11-30 at 09 10 29](https://user-images.githubusercontent.com/8591473/144040984-23b1aa52-a0c9-46c8-aa91-d587a823e53f.png)

[2021-11-30 11:47] thvnx commented on #860
I forgot to mention that I use VSCode with the Language Support for Ada (with debug info) extension, version 23.0.1.

[2021-12-01 13:48] thvnx commented on #860
Same issue with `with` keyword and `2` literal here:

<img width="284" alt="Screenshot 2021-12-01 at 14 46 18" src="https://user-images.githubusercontent.com/8591473/144245649-f4a7756d-710a-4f2e-a5a2-2a0704437df8.png">

[2021-12-03 09:59] Surobaki opened #865 "VS Code extension unable to find gnatls"
I'm running the v23.0.2 version of the extension and Code OSS 1.62.0. My OS is Manjaro Linux (x86_64).
I made sure that my GNAT Community binaries are located in path, and performing `echo $PATH` shows that the GNAT Studio binaries directory is also there (`/opt/gnatstudio/bin`). Performing `gnatls` in the Linux terminal produces expected output.

In Code, however, the Ada Language Server extensio

[2021-12-03 14:28] reznikmm commented on #865
@Surobaki Try to open a terminal in Code (`` Ctrl+` ``) and run `which gnatls` to see if Code has an access to GNAT toolchain. It could be `snap` or `flatpack` issue if you Manjaro uses it.

[2021-12-03 14:39] Surobaki commented on #865
@reznikmm Code does run all the GNAT toolchain binaries that I included in path, yeah. I'm not sure how to see whether or not it's either of those causing it, I usually just install packages via the AUR.

[2021-12-05 04:59] barcharcraz opened #867 "Build failure on fedora 35"
I'm trying to build on fedora35 with gnatcoll 21.0.0 and get the following error:

[code]

[2021-12-05 09:04] reznikmm commented on #867
please update gnatcoll or use [this patch](https://github.com/AdaCore/gnatcoll-core/commit/c42d8118831a8a6f67d8a0bc743ad5909184451c#diff-31f4498fe7f7a305974567a425ac2356e62e4ab0a633704c8fba8c70cf80697d)

[2021-12-05 09:04] #867 closed

[2021-12-05 09:18] reznikmm commented on #865
Because this message you will get if no GNAT in the `PATH`, I would suggest you to double check:

* Close all Code instances
* Open Manjaro terminal and set `PATH`:

      export PATH=/opt/gnatstudio/bin:$PATH

* Start Code from this Terminal

Another this to try is to check environment variables in a running `ada_language_server` process.
* See process list with `ps axf|less` and find the PID of

[2021-12-06 13:17] Surobaki commented on #865
Thank you, after checking the process' environment variables I saw that there's no GNAT in the path of the process. Running Code from a terminal which had the in-session export worked as well.
To not need to launch Code from the terminal every time I decided to symlink the necessary binaries from `/opt/gnatstudio/bin` to a PATH that already exists in Code (i.e. `/home/<username>/.local/bin`).

[2021-12-06 13:17] #865 closed

[2021-12-07 10:50] thvnx opened #869 "bad highlighting for `renames` keyword"
Hi,

The following `renames` uses don't correctly highlight in VSCode:

<img width="422" alt="Screenshot 2021-12-07 at 11 44 19" src="https://user-images.githubusercontent.com/8591473/145015579-12afac90-2e4f-46da-b813-78b50b506124.png">

Find below a reproducer:

[code]

[2021-12-12 01:50] oscarrutt opened #875 "ALS bomb upon launch from #849 has reappeared in version 23.0.2"
Sorry to report that the problem of ALS bombing upon launching Visual Studio Code, as in #849, has reappeared in ALS version 23.0.2. I have reverted to 23.0.1 by swapping in the special build linked from #849.

VSC "About:"

Version: 1.63.0
Commit: 7db1a2b88f7557e0a43fec75b6ba7e50b3e9f77e
Date: 2021-12-07T05:15:48.091Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electr

[2021-12-14 18:25] captain-haddock17 opened #879 "Syntax highlighting for tasks"
Hi Ada lovers,

Syntax inside a task definition or body is not highlighted as for 'normal'/regular code.
What is OK:

* Keywords
* Comments

What I'd expect (if I might ...)

* Name of Task (definition , body)
* entry_declaration , highlighted as a subprogram (function, procedure), so it can be homogeneous with protected objects declarations.see [protected_operation_declaration](http://www.ada-aut

[2022-01-02 10:25] atupone opened #885 "lsp_client_glib is not build/installed"
gnatstudio seems to depend on the lsp_client_glib.gpr being installed

[2022-01-04 09:53] setton commented on #885
Hi @atupone - the lsp_client_glib is a very specialised project (supporting the integration of the language server in a GLib main loop) and is not meant to be used in the general case. The gnatstudio build expects a clone of this project under `subprojects/ada_language_server`. Don't hesitate to follow up under the gnatstudio project if needed!

[2022-01-04 09:53] #885 closed

[2022-01-11 11:45] JHag6694 commented on #567
Works fine now on my side. Do not know what was going on ...

[2022-01-11 11:45] #567 closed

[2022-01-12 13:46] reznikmm commented on #875
I found `___darwin_check_fd_set_overflow` symbol in `process-wrappers.o` which is part of GNATCOLL. It looks like ALS doesn't use this part of GNATCALL. It's unclear to my why linker includes unneeded objects into a statically linked executable. I'll try to drop this file before ALS is compiled to see if this fixes the issue.

I've tried to set `MACOSX_DEPLOYMENT_TARGET=10.11` environment and `-Wl

[2022-01-13 08:25] oscarrutt commented on #875
I can help testing on macOS but I'm not expert in many things.

[2022-01-31 21:58] Joebeazelman opened #901 "Ada Source Formatter"
I had given up on trying to format my Ada code in VSCode. There's no mention of it in Ada's documentation. Trying to execute the command resulted in VSCode asking if you'd like to download a formatter for Ada.  After looking for alternatives, I was just about to write one until I tested my initial extension code.  My extension formatting wasn't loading, so after much investigation I discovered Ada

[2022-01-31 22:00] Joebeazelman commented on #571
Where is the formatter registered in the source code?  For a while, I couldn't get the formatting to work at all. VSCode would claim there wasn't a suitable formatter and asked if I would like to download an extension for ada.

[2022-01-31 22:07] reznikmm commented on #901
See [this line](https://github.com/AdaCore/ada_language_server/blob/e2efe49e7c2225e4bf7eb2639637a2af1fc5c764/source/ada/lsp-ada_handlers.adb#L3719) for formatting registration code.

ALS uses gnatpp code for formatting. So it supports all gnatpp option. Just set them in your project file, like this:

    package Pretty_Printer is
      for Default_Switches ("ada") use
        ("--no-align-modes",

[2022-02-01 13:29] ceberly opened #902 "Building with dependencies"
Hi, forgive this newbie question. I'm trying to build using the `make` command and I need dependencies like vss, etc. When I use `alr get --build vss` i get a vss project locally, but then re-running `make`, I still see that vss is missing. I understand *why* its missing, but its not really clear how one is supposed to set up dependencies for this (or really any) Ada project! I am very excited to

[2022-02-01 14:49] glacambre commented on #902
@ceberly Have you added VSS' gprfiles to your $GPR_PROJECT_PATH? e.g. `GPR_PROJECT_PATH="$PWD/vss_22.0.0_b38t82ef/gnat/:$GPR_PROJECT_PATH" make`

[2022-02-01 14:50] reznikmm commented on #902
Hi @ceberly,

Currently `alr` isn't well integrated into ALS building process. You can use alire to
* build `22.0.0` ALS version (from main alr index). Run `alr get --build ada_language_server`.
* build `23.0.2` ALS version (from [dedicated index](https://github.com/reznikmm/als-alire-index)). See that page for instructions.

Development ALS version doesn't support alire building for now. So, you

[2022-02-01 15:46] ceberly commented on #902
Thanks this is very helpful. In general, if I wasn't using alire, should I add VSS' gprfiles to the GPR_PROJECT_PATH like @glacambre mentioned above?

[2022-02-01 15:50] reznikmm commented on #902
Yes, you should do

    git clone https://github.com/AdaCore/VSS.git

and append path to VSS/gnat to `GPR_PROJECT_PATH`.

[2022-02-03 03:46] Joebeazelman commented on #901
Thanks.  Three issues. First, I may be intentional, but the formatter doesn't abide by VSCode's tab spacing. I think it should use VSCode's default unless it's explicit set in the Default_Switches of the Pretty_Printer package definition. Second, the original error I received about it not finding the formatter has reoccurred when I tried to format the GPR file. I think I was applying it to the GPR

[2022-02-16 18:14] Joebeazelman commented on #901
Any updates on why this error is happening?

[2022-02-17 10:51] reznikmm commented on #901
Currently Ada Language Server supports only Ada files (no support for editing GPR files yet). Could you provide a complete self-contained reproducer?

[2022-02-18 09:17] timlag1305 opened #911 "Pretty_Printer settings not respected by formatter"
I created a test project using the alr build tool to create a test project. I then added the following `Pretty_Printer` package to it:

[code]

However, when I use neovim's `:lua vim.lsp.buf.formatting()`, it indents the file using 4 spaces instead of 3. I also noticed that if I use `gnatpp` manually on the file, it doesn't change the indentation from 3 spaces to 4 spaces.

I have tried both the 2

[2022-04-07 13:26] rami3l opened #933 "[Feature Request] Automatically add block endings in VSCode"
As a new user to the official VSCode plugin, I really miss something like [`endwise`](https://marketplace.visualstudio.com/items?itemName=kaiwood.endwise) for Ruby, which automatically adds `end` whenever I'm opening a new block:

![image](https://github.com/kaiwood/vscode-endwise/raw/HEAD/images/endwise.gif)

This feature seems to be present in Gnat Studio, but I think it will be interesting for

[2022-04-08 10:33] rami3l commented on #571
I'm having the very same problem here, but just occasionally... Could you please give me some pointers on what I could do to gain more insights into this issue when it occurs next time? In the VSCode `Output` window there's just lines like `[Trace - 12:28:20 PM] Sending request 'textDocument/hover - (49)'.` with seemingly no response, so I guess there's some thing with the server but clearly this

[2022-04-08 15:22] kevlar700 opened #934 "Formatting a file that fails to compile quite often causes the server to cancel all future requests."
Sometimes when formatting a file that cannot build, vscode shows the progress animation for around 30 seconds.

Even after the build is fixed. The Ada language server no longer formats files or responds to hover requests etc. and instead responds with '$/cancelRequest' until a window reload or vscode restart is performed.

[2022-06-18 20:10] Joebeazelman commented on #934
This is happening me as well. It started happening when I tried to format a file with syntax errors.

[2022-06-29 15:25] rami3l commented on #571
cc @reznikmm
It seems that this problem only happens when the `with` or `use` clauses are changed in the file.
If I try to change those clauses, then the formatter will run forever.

Here's a quick example that I took to reproduce this issue:
1. Clone [this project] (https://github.com/rami3l/snowpeak/tree/412cb0171de7096dc51fc66f63e5171d7732a574) and use `alr run` to initialize it.
2. Reopen VSCo

[2022-07-10 20:22] Joebeazelman commented on #571
I have to second it as well.  So long as the "with" statements are not modified, the Language server works fine.  If they are, it requires restarting VSCode in order to return things to normal.

[2022-07-11 08:06] rami3l commented on #934
Probably related: https://github.com/AdaCore/ada_language_server/issues/571

[2022-07-12 10:38] garryspins opened #999 "Weird issues in VSCode"
In VSCode occasionally highlighting will almost completely stop functioning properly.

![Example](https://i.imgur.com/HQAwSnx.gif)

When this happens the language server also stops working on new code.

![Another Example](https://i.imgur.com/aS9MOGA.gif)

This has been happening as long as I've used the extension, Any ideas?

[2022-07-12 10:42] reznikmm commented on #999
Could you provide a complete reproducer? Or, at least, log files (from `$HOME/.als/`)?

[2022-07-12 10:57] garryspins commented on #999
This happens every time I start up VSCode, theres nothing that triggers it (it seems). I can't seem to find any log files anywhere, I'm on Windows and my `%HOMEPATH%` has no sign of als anywhere. I have the settings for traces to be generated both on verbose.

[2022-07-12 18:00] 0rzech opened #1000 "Binary releases"
It would be great if ALS binaries were available to download from `releases` page, like [this one](https://github.com/AdaCore/ada_language_server/releases/tag/23.0.1) for macOS. It would save people using different IDEs and editors from manual compiling or extracting ALS from Theia/VS Code extensions.

_EDIT: Looks like this issue's number is 1000. Ha! 🎉 🙂_

[2022-07-12 20:58] 0rzech commented on #668
IMHO, it would still be better to make ALS Alire-aware. The reason are polyglot IDEs and editors. Launching such program with language-specific command seems a bit awkward, given one can switch to entirely different kind of project inside running instance. Also, many people launch IDEs and editors with GUI launchers and such workaround forces these people to alter launchers or to create command al

[2022-07-20 12:15] #1000 closed

[2022-07-21 08:42] reznikmm commented on #1000
@0rzech,
Is [this](https://github.com/AdaCore/ada_language_server/releases) works for you?

[2022-07-21 08:45] reznikmm commented on #999
This was fixed [there](https://github.com/AdaCore/gnatcoll-core/commit/0553172078189cdbc381f66a510880290f876c3e) and should work now.

[2022-07-21 08:48] reznikmm commented on #571
This was fixed [there](https://github.com/AdaCore/gnatcoll-core/commit/0553172078189cdbc381f66a510880290f876c3e) and should work now.

[2022-07-21 08:48] #571 closed

[2022-07-21 14:16] PaulCayard opened #1006 "[Feature Request] Disabling pop-up "Some project source directories are not listed...""
Every time I launch vscode with "Language Support for Ada" v23.0.8, the following pop-up appears:
"Some project source directories are not listed in your workspace: do you want to add them?"

Is it possible to disable it?

Thanks a lot!

[2022-07-21 15:07] AnthonyLeonardoGracio commented on #1006
Hello @PaulCayard,

This popup indicates that some source directories of your project hierarchy are not listed under the current VS Code workspace: our extension then proposes to add them. Have you tried to click on 'Yes'? Once these directories get added to the workspace, the popup won't be shown again.

Regards,

[2022-07-21 15:38] PaulCayard commented on #1006
Hi Anthony,
I don't want to add these directories to the workspace. If I click 'No', when I relaunch vscode pop-up is shown again.
Thanks anyway for the explanation!

[2022-07-21 15:49] AnthonyLeonardoGracio commented on #1006
Ok I see. Then we can probably add a 'Do not show this again' option in that case. We thought that usually people want to have access to all the sources from the project.

[2022-07-21 20:57] 0rzech commented on #1000
Thank you! It does. 🙂

[2022-07-21 21:00] 0rzech commented on #1000
Thank you, @reznikmm ! It does. 🙂

[2022-07-25 09:11] simonpalmer1964 opened #1007 "Using Ada in Visual Studio"
Hello,
I have just installed the following extensions in Visual Studio
1. Language Support for Ada
2. Language SUpport for Ada with debug info
3. Native Debug

I get the following error
Error: command 'als-other-file' already exists
	at o.registerCommand (/snap/code/102/usr/share/code/resources/app/out/vs/workbench/api/node/extensionHostProcess.js:85:61206)
	at Object.registerCommand (/snap/code/1

[2022-07-25 09:16] reznikmm commented on #1007
You can't have both "Language Support for Ada" and "Language Support for Ada with debug info" installed at the same time :disappointed:  These are the same application. "Language Support for Ada with debug info" is just for internal debugging, because it includes debugging information, while "Language Support for Ada" is an optimized and stripped version.

[2022-07-25 09:16] #1007 closed

[2022-07-25 09:58] simonpalmer1964 commented on #1007
Thanks Max,

I realised that and removed the “Language support for Ada” version, all good now.

Cheers
Simon

[2022-07-26 11:05] JHag6694 opened #1008 "Format selection seems to be broken with "--source-line-breaks" option"
Hello

Testing release 23.0.8, it seems that in some cases, formatting using "Format selection" is broken when using "--source-line-breaks".
Additional information;
- No problem with 23.0.7
- No problem found with "--preserve-line-breaks"
- Once "Format selection" request failed, next "Format document" request will also failed

With
- VSCode 1.69.2 (System setup) / Windows 10
- source code from ht

[2022-07-26 12:40] AnthonyLeonardoGracio opened #1009 "Image for wiki"
<img width="506" alt="Capture d’écran 2022-07-26 à 14 36 27" src="https://user-images.githubusercontent.com/5286422/181008026-c9587f01-362e-49b5-9d8d-b360f4845e08.png">

[2022-07-26 12:44] #1009 closed

[2022-07-26 13:10] reznikmm commented on #1008
Thank you, we will fix this.

[2022-07-29 12:40] reznikmm commented on #1006
## An idea to discuss:

To propose adding directories only the user has an non-empty workspace.

## Reason:

* If the user doesn't have a workspace then (1) he doesn't know about workspaces or (2) he does a quick "ad-hoc editing". In both cases he doesn't care about keeping workspace and the dialog is mostly useless to him.

* On the other hand, if the user has spent time to configure workspace th

[2022-07-29 13:43] PaulCayard commented on #1006
This is my case. I use local git repositories as "vs project" and don't want to create a workspace.

(sorry for close and reopen the thread, it was a mistake)

[2022-08-05 13:17] #1006 closed

[2022-08-05 13:24] PaulCayard commented on #1006
Yeah, I saw it in the edge branch. Thank you for the request implementation!

[2022-08-06 05:18] Joebeazelman commented on #571
Is this available prebuilt, or do I have to built it myself?

[2022-08-13 03:04] nobody-famous commented on #999
I'm seeing the same thing on Ubuntu.

There's something in the config stuff that "alr init" creates that's messing it up. In the root .gpr file, it references some config/*.gpr file that it generates. If I comment that out, along with the references to the config package, everything seems to work fine.

So, recreate steps:
1. alr init --bin hello (accept all defaults)
2. cd hello
3. alr config --s

[2022-08-13 03:27] nobody-famous commented on #999
After poking around some more, the problem has to do with the ADAFLAGS compiler switches.

Either removing the list of switches after this line and changing the & to a semi-colon or removing this External_As_List call and only keeping the following list will fix the issue.

Ada_Compiler_Switches := External_As_List ("ADAFLAGS", " ") &

[2022-08-14 17:32] stephe-ada-guru opened #1026 "alr get fails due to changing LIBRARY_TYPE"
I'm running alire on Debian testing, with Debian gnat GNAT 11.3.0.

$ alr get ada_language_server
ⓘ Deploying ada_language_server=22.0.0...
  -=#=-  #    #      #
error: Trying to set an already defined environment variable:
error:    LIBRARY_TYPE is already defined as 'static' but new value is 'relocatable'

[2022-08-14 17:40] stephe-ada-guru commented on #1026
running 'ali -v get ada_language_server' gives more detail:

detail: Env: ada_language_server (gpr ext) sets 'static' to 'LIBRARY_TYPE'
detail: Env: langkit_support (gpr ext) sets 'relocatable' to 'LIBRARY_TYPE'

So I deleted LIBRARY_TYPE from ada_language_server_22.0.0_ef4bdf41/alire.toml, but that didn't help. Where else is it specified?

Is there a way to override this setting?

[2022-08-14 19:27] reznikmm commented on #1026
May be you have `LIBRARY_TYPE` in the env? Try to
[code]
Try to update `alr index --update-all`.

[2022-08-14 19:52] stephe-ada-guru commented on #1026
LIBRARY_TYPE in environment; nope.
index --update-all; already up to date.

I'm guessing that alr is getting the setting for LIBRARY_TYPE from the crate *.toml file, not the edited one on my disk. So unless there is some way to override that from the command line, this can only be fixed by publishing a new crate?

[2022-08-14 20:13] stephe-ada-guru commented on #1026
Why do the ada_language_server and langkit_support crates specify LIBARARY_TYPE in alire.toml [gpr_external]? there's a default setting in the .gpr, and both defaults are "relocatable", and both have package-specific override environment vars.

[2022-08-15 11:44] reznikmm commented on #1026
I see now, why I can't reproduce this issue with Alire compiler. Langkit sets `LIBRARY_TYPE` only for system compiler for unknown (to me) reason.

[code]

When I set `LIBRARY_TYPE` as `static` in ada_language_server my intention was to help user get statically linked ALS. Now I see that this idea is bad. I'll remove this clause from als `.toml`. Meantime you may want to try more fresh version of A

[2022-08-15 13:43] stephe-ada-guru commented on #1026
After editing the local copy of alire.toml to comment out setting LIBARY_TYPE, 'alr build' succeeds.

So I have a workaround, but there is a packaging bug in the released crate.

[2022-08-15 13:49] stephe-ada-guru commented on #1026
I did not see your reply about 'drop setting LIBRARY_TYPE'. Just FYI, when I used 'alr build', I chose gnat_native=12.1.2, not the system compiler. That gave the same error.

And langkit_support sets LIBRARY_TYPE in alire.toml as well. I suspect it should never be set in any crate.

Thanks for fixing this.

[2022-08-17 12:04] reznikmm commented on #1006
We have published `23.0.9` that includes these changes. It should be fixed.

[2022-08-17 12:06] reznikmm commented on #497
I'm closing this, because ALS implements semantic tokens, rule-based highlighting isn't used any more and I don't have ideas how to fix it.

[2022-08-17 12:06] #497 closed

[2022-08-17 12:07] reznikmm commented on #495
I'm closing this, because ALS implements semantic tokens, rule-based highlighting isn't used any more and I don't have ideas how to fix it.

[2022-08-17 12:07] #495 closed

[2022-08-17 12:08] reznikmm commented on #496
I'm closing this, because ALS implements semantic tokens, rule-based highlighting isn't used any more and I don't have ideas how to fix it.

[2022-08-17 12:08] #496 closed

[2022-08-17 12:08] reznikmm commented on #657
I'm closing this, because ALS implements semantic tokens, rule-based highlighting isn't used any more and I don't have ideas how to fix it.

[2022-08-17 12:08] #657 closed

[2022-08-17 12:10] reznikmm commented on #695
I'm closing this, because ALS implements semantic tokens, rule-based highlighting isn't used any more and I don't have ideas how to fix it.

[2022-08-17 12:10] #695 closed

[2022-08-17 12:18] reznikmm commented on #696
After integrating with `gnatdoc` code, these pop-ups look different (better, I hope) now. So, I'm closing this issue.

[2022-08-17 12:18] #696 closed

[2022-08-17 12:19] #860 closed

[2022-08-17 12:21] reznikmm commented on #879
I'm closing this, because ALS implements semantic tokens, rule-based highlighting isn't used any more and I don't have ideas how to fix it. Reopen if this still doesn't work for you!

[2022-08-17 12:21] #879 closed

[2022-08-17 12:22] reznikmm commented on #869
I'm closing this, because ALS implements semantic tokens, rule-based highlighting isn't used any more and I don't have ideas how to fix it.

[2022-08-17 12:22] #869 closed

[2022-08-17 12:22] reznikmm commented on #697
I'm closing this, because ALS implements semantic tokens, rule-based highlighting isn't used any more and I don't have ideas how to fix it.

[2022-08-17 12:22] #697 closed

[2022-08-17 12:25] #902 closed

[2022-08-17 12:31] reznikmm commented on #999
This was fixed in 23.0.8 and #571

[2022-08-17 12:31] #999 closed

[2022-08-17 12:48] AnthonyLeonardoGracio opened #1033 "Screens for Remote Dev doc"
<img width="669" alt="Capture d’écran 2022-08-17 à 12 44 52" src="https://user-images.githubusercontent.com/5286422/185120003-afc525d8-053b-4363-b413-4eebb6c1cf18.png">
<img width="433" alt="Capture d’écran 2022-08-17 à 11 47 52" src="https://user-images.githubusercontent.com/5286422/185120020-a129bc27-3dee-4cfd-9539-5fa6c06c59e6.png">
<img width="387" alt="Capture d’écran 2022-08-17 à 14 28

[2022-08-17 12:48] #1033 closed

[2022-08-23 12:19] Joebeazelman commented on #571
No. It hasn't been fixed. I'm still getting the same error, but it's improved a bit.  I lose most of the functions with the exception of syntax highlighting.  I always get an error when I save.

[code]

[2022-08-24 11:33] PaulCayard commented on #1006
Thanks a lot! It works perfectly!

[2022-08-24 16:56] stephe-ada-guru opened #1039 "What LSP request implements "auto-add with-clauses"?"
The main README.md  mentions "Code refactoring like insert named associations, auto-add with-clauses." However, https://github.com/AdaCore/ada_language_server/blob/master/doc/refactoring_tools.md does not mention this feature.

I'm working on adding support for ada_language_server to Emacs ada-mode, so I'd like to know how to do this.

[2022-08-25 18:21] Joebeazelman commented on #911
I've had the same issues as well. It may be a conflict with the style checker running in the background.  I removed the entire Pretty_Printer package and everything worked as expected.

[2022-08-25 18:48] Joebeazelman opened #1040 "Duplicate definitions in a file causes the Language Server to Spaz out"
Duplicate definitions cause ALS to spaz out and spit out error messages.  The following reproduces the issue:

[code]
Other errors syntax errors don't cause this issue. I suspect ALS's internal data structures have difficulty handling duplicate entries and spazzes out. ALS will recover if the duplicate definition is removed in that it won't stall, but formatting no longer works.

The issue also se

[2022-08-26 17:13] timlag1305 commented on #911
Were you able to set custom style options for that background gnatpp process somehow?

[2022-08-26 19:24] nobody-famous commented on #934
This makes the extension unusable. Having to constantly reload the window because you hit format out of habit is a non-starter. It's an editor extension. Code being in an invalid state is expected.

[2022-08-28 17:21] Entomy commented on #436
@reznikmm that's the ideal way to handle it anyways. 👍

[2022-08-28 18:18] Joebeazelman commented on #911
It does something, but I'm not sure what. I removed it because it was converting all my pascal case names to lowercase. It may be because gnatpp had a default setting that I couldn't find. I didn't want to spend any more time on it as there are millions of other idiosyncrasies in Ada's tooling I have to grapple with. I'm finding that I am now spending more time understanding and working with the t

[2022-09-15 12:29] AnthonyLeonardoGracio commented on #934
Hello,

Normally this issue has been fixed: we now reste the formatter's state so that it does not block the Ada Language Server after failing. Have you tried with the latest version of the extension @nobody-famous?

If you can still reproduce, would you be able to give us the gnatpp options you have enabled?

Regards,

[2022-09-15 12:49] kevlar700 commented on #934
I rarely need to restart the language server these days. Though I am now using GNAT Studio CR releases and not vscode.

[2022-09-15 14:31] Joebeazelman commented on #934
Is there a new release with the fix, or do I have to build it myself from a commit?  Thanks.

[2022-09-16 14:07] AlexandreMarkus opened #1049 "Project support (scenario)"
Would be great if scenario would be supported. There is some extensions that uses dropdown menu in the status bar or you could add an icon in the activity bar with some options in there.

[2022-09-16 14:09] AlexandreMarkus opened #1050 "Automatic loading of GPR file"
Right now, we need to manually add the .gpr file in the VS Code extension. It would be great if when loading a project, it would scan the folder to find the .gpr file.

[2022-09-16 14:40] reznikmm commented on #1050
Actually, the extension (the language server to be more precise) loads the project file if there is a single project file in the root folder. Other cases don't work because

 * if there are several project it's hard to choose one of them
 * initially we scanned for project files in sub-folders, but then we rejected this approach, because the file hierarchy could be huge and this slowdowns the exte

[2022-09-16 14:40] #1050 closed

[2022-09-16 17:14] AlexandreMarkus commented on #1050
Ohh I didn't know. My .gpr file is in a folder. I did try to add the following as a parameter: folderName/*.gpr so all my projects would be able to open since they all follow the same architecture but this doesn't work. Do you know if there is a way to achieve this?

[2022-09-16 17:21] AlexandreMarkus commented on #1049
I do use 3 different scenario variables with multiple values in each. Then, depending on each value I choose, it will build something different. Not sure how I can use the current method efficiently. Do you think I can?

[2022-09-16 18:15] nobody-famous commented on #934
I do

- alr init --bin hello
- cd hello
- alr build
- code .

After enabling the Ada extension, I open src/hello.adb and start to create a function using the snippet,

`
procedure Hello is
function Name () return Return_Type is

begin

end Name;
begin
   null;
end Hello;
`

At this point, completions are broken and hitting format causes a pop-up that says a message failed. I then add an argument t

[2022-09-29 09:42] jfuica opened #1053 "Ada_language_server process using too much RAM in linux"
Hello,

I have been playing around with this promising Ada plugin for vscode (congratulations!), and apart from some "bugs" (they will be fixed for sure in future versions), i found that the plugin itself is using too much RAM (resident) in a linux machine :

Using a simple default.gpr and a test.adb :

[code]

p_test.adb

[code]

Then, after executing the vscode locally in the linux machine (also

[2022-09-29 10:00] setton commented on #1053
Hello @jfuica !

The memory consumption is expected - we're indexing the Ada runtime (for instance the sources for Ada.Text_IO), to support cross-references for the full closure of the program. This explains the around 0.7 gb of memory consumption, and is expected.

However it should be much faster than this - measured in seconds rather than minutes. Unless you are investigating memory consumption

[2022-09-29 10:00] #1053 closed

[2022-09-29 10:08] setton commented on #1053
You can also control the runtime indexing via the trace `ALS.RUNTIME_INDEXING`. Turning this off means less memory footprint, but operations such as "Find all references" on runtime entities won't return complete results within the body of the runtime.

[2022-09-29 10:12] raph-amiard commented on #1053
Also, to complete @setton 's answer, the GNAT ada runtime is at least ~350000 lines, so you should expect this to scale quite well on big projects, since this seems to be one of your worries.

[2022-09-29 11:18] jfuica commented on #1053
Hello, Nicolas, Raphël,

[code]

It does the trick!, now, my RAM usage is very low, and the time it takes to start the ada_language_server plugin is fine (at least for small projects).

--

However, if I test this configuration in a big project, the amount of RAM used is around 2-3GB. Therefore, my concern is : if the amount needed for every instance of the ada_language is 3 GB * let say 5 program

[2022-09-29 11:27] raph-amiard commented on #1053
That's indeed a concern, but unfortunately one that we don't know how to solve yet. Ideally we would be able to share a libadalang instance amongst all servers for a same project, but we don't have the technology to do that - at least not in the foreseeable future :)

[2022-09-30 19:24] TamaMcGlinn commented on #1049
Note I requested the same thing [here, in an alr issue](https://github.com/alire-project/alire/issues/1160). I wrote [a plugin for this for NeoVim](https://github.com/TamaMcGlinn/nvim-lsp-gpr-selector/), which is equivalent to what we would need (but I have never written a VSCode plugin before).

A quickfix for VSCode that should but doesn't currently work, is to set your editor settings to read t

[2022-10-03 14:42] stephe-ada-guru opened #1054 "Missing dependency "templates_parser""
I'm trying to build ada_language_server from github main, in order to try the semantic_tokens support with Emacs eglot. I'm using the github main version of all the dependencies.

However, the current version of lal_tools.gpr requires "template_parser.gpr", which is not in langkit, langkit_support, or any of the other dependencies. Where do I find it?

(maybe this is actually a langkit issue?)

[2022-10-18 21:10] Joebeazelman opened #1063 "Override toolchain to work with Alire"
### Environment

OS and Version: MacOS 12.6 (21G115)
VS Code Version: 1.72.2 (Universal)

### Issue
The Ada extension can't build the project because it's unaware of Alire's environment variables.  To get around this issue, I overrode the extension's default task to call Alire instead (see Configuration below).

So far, the project builds, but unlike extensions default build task, whenever there's

[2022-10-23 22:29] gantsevdenis opened #1065 "noob question: support for multiple .gpr?"
Hi there,
I would like to know how I should organize my project to support multiple sub-project with each their own `.gpr` files.
Is this even possible? For example: [`https://github.com/flyx/OpenGLAda`](https://github.com/flyx/OpenGLAda) has 5 different child-projects, each depending on `opengl`.

This is just an example: if you tell me I should organize differently, no problem: I just would love

[2022-10-24 02:38] godunko commented on #1065
Ada Language Server doesn't restrict use of project files to some patterns. Any hierarchy of the project files are supported.

However, Ada Language Server (as well as GNAT Studio) requires to have single top level project. Such root project can depends from any number of other projects.

OpenGLAda provides good example of quite complex use of features of project files, you can use it as an exampl

[2022-10-24 02:38] #1065 closed

[2022-11-02 11:36] joakim-strandberg opened #1067 "Goto declaration or definition does not work together with Gnat extensions enabled"
When developing software with tagged types vscode has no problems with finding primitive subprograms of tagged types. But when using -gnatX to enable Gnat extensions to be able to untag record type definitions and still be able to use the object dot operation notation, vscode can no longer find the subprograms using "goto declaration or definition" and one gets instead the error message: No defini

[2022-11-02 11:43] joakim-strandberg commented on #1067
Ok, thanks for the explanation. Not much to do at the moment then. I suggest closing this issue.

[2022-11-06 20:13] stephe-ada-guru opened #1069 "Where is python module e3?"
I'm trying to run the ada_language_server tests, so I can duplicate a bug I'm getting with Emacs ada-mode and ada_language_server. it wants python module e3, but python pip says there's no such module. Where can I find it?

[2022-11-07 06:21] stephe-ada-guru commented on #1069
Found it: python modules e3-core and e3-testsuite

[2022-11-07 06:21] #1069 closed

[2022-11-07 07:23] stephe-ada-guru opened #1070 "als raises CONSTRAINT_ERROR if iniitalization drops a TokenModifier"
In Emacs ada-mode, I don't want identifiers with TokenModifier defaultLibrary highlighted; that would highlight Ada.Text_IO differently than My_Package.

So I drop the defaultLibrary tokenModifier in the initialization capabilities. That causes a CONSTRAINT_ERROR in response to a SemanticTokens request.

Attached is a test that shows the problem, and a patch to fix it (as semantic_tokens_delete_mo

[2022-11-07 09:49] reznikmm commented on #1069
yes, GitHub CI does `pip install --user e3-testsuite`

[2022-11-08 09:45] #1070 closed

[2022-11-08 15:38] stephe-ada-guru opened #1073 "rangeFormatting request including context clause raises AssertionError"
The attached test.json.txt shows an error; the attached range_formatting_context.diff (against libadalang_tools) fixes it.
[test.json.txt](https://github.com/AdaCore/ada_language_server/files/9962735/test.json.txt)
[range_formatting_context.diff.txt](https://github.com/AdaCore/ada_language_server/files/9962742/range_formatting_context.diff.txt)

[2022-11-08 21:23] stephe-ada-guru commented on #1073
There are additional problems with the response once the assertion_error is fixed; I'll submit another issue.

[2022-11-08 22:03] stephe-ada-guru opened #1074 "rangeFormatting response is invalid"
This uses the same test.json as issue #1073 (attached)
[test.json.txt](https://github.com/AdaCore/ada_language_server/files/9965381/test.json.txt)

Once the assertion_error in #1073 is fixed, the response to the rangeFormatting request is (formatted for readability):
[(:range
  (:start (:line 0 :character 28)
   :end   (:line 0 :character 27))
  :newText "\n")
  (:range
   (:start (:line 1 :charac

[2022-11-08 22:09] stephe-ada-guru opened #1075 "ada_langauge_server uses FormattingOptions tabSize as basic indent, not tab equivalent"
This uses the same test as #1074; attached.
[test.json.txt](https://github.com/AdaCore/ada_language_server/files/9965596/test.json.txt)

Changing the tabSize setting demonstrates that ada_langauge_server uses FormattingOptions tabSize as basic indent, not tab equivalent in spaces.

Searching the web for "lsp format tabsize indent" turns up many other people/servers with similar confusions, but als

[2022-11-08 22:15] stephe-ada-guru opened #1076 "provide more control over formatting."
ada_language_server uses the gnatpp code to do formatting. That code supports several options that control the formatting. In particular, some combination of settings results in "just indent", which is what Emacs ada-mode wants when the user invokes indent-line.

So it would be nice if there was a way to pass those options to the server, perhaps via an LSP extension command ada_format_options.

In

[2022-11-09 09:59] AnthonyLeonardoGracio commented on #1067
Thanks @joakim-strandberg, closing the issue for now then ;)

[2022-11-09 09:59] #1067 closed

[2022-11-09 10:15] kevlar700 commented on #1076
I'm not from Adacore but Gnat Studio edits the .gpr project file when setting formatting options.

'''Package Pretty_Printer is
           for Default_Switches ("ada") use ("--call-threshold=1");
end Pretty_Printer;'''

[2022-11-09 18:14] stephe-ada-guru commented on #1026
ada_language_server 23 builds without error

[2022-11-09 18:14] #1026 closed

[2022-11-09 18:16] stephe-ada-guru commented on #1076
@kevlar700; yes, Gnat Studio calls gnatpp more directly; it doesn't go thru the LSP interface.

[2022-11-10 09:30] AnthonyLeonardoGracio commented on #1063
Yes (and congrats for this!) but we want it to be more "plug-and-play" let's say ;)

[2022-11-10 09:31] AnthonyLeonardoGracio commented on #1076
Hello @stephe-ada-guru ,

The Ada Language Server normally reads the gnatpp options specified in your project file, is it not the case for you?

[2022-11-11 18:51] stephe-ada-guru commented on #1076
@AnthonyLeonardoGracio I was not aware of the gnatpp package in a project file (and I did not make the connection that it implies that ada_language_server reads those options). I gather the list of options is given by "gnatpp --help"; that is quite extensive, but it's not powerful enough to match my style, nor Eurocontrol's. --source-line-breaks may be enough for Emacs indent. I'll have to experim

[2022-11-13 19:51] Joebeazelman commented on #1063
In the meantime, it would be nice if there were workarounds.  I figured out how to build in VSCode using Alire, but the issue with setting the environment variables is still a pain. The Ada extension requires a number of environment variables that are not set unless the user launches the project using "alr edit."  If I at least know what variables the extension is looking for, I could at least imp

[2022-11-19 09:49] stephe-ada-guru opened #1079 "allow specifying gpr file in initializationOptions"
In Emacs, it would be convenient if als allowed specifying  the gpr file in the initializationOptions parameter of the initialize request; other language servers allow similar settings by that method. Right now, I have to write custom code to send a workspace/didChangeConfiguration message to set the gpr file.

[2022-11-21 16:20] Joebeazelman opened #1080 "Adopt Entomy's Snippets"
I've been using Entomy's snippets plugin and prefer it over ALS's built-in snippets.  It covers a few more syntax variations than ALS's default one. For instance, the default snippet for `case` is:

[code]

While for Entomy it is:

[code]

Entomy ada-snippets is no longer available on GitHub, but the pre-built extension, however, is still available from VSCode marketplace and is licensed as unlice

[2022-11-21 16:26] reznikmm commented on #1080
sending PR on github is very simple. 1) Find the file in web interface. 2) Push edit button (near to "blame") 3) Replace/edit content 4) Push "Propose change" - you have done!

[2022-11-22 10:20] AnthonyLeonardoGracio commented on #1079
Hello @stephe-ada-guru,

Indeed, that looks like a reasonable enhancement. We'll have a look!

[2022-11-28 01:35] #1075 closed

[2022-11-28 01:43] stephe-ada-guru commented on #1039
Maybe it's als-refactor-imports?